@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    /*  */
    --card-foreground: 195 31% 95%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    /*  */
    --primary: 200 18% 46%;
    /*  */
    --primary-foreground: 0 0% 98%;
    /*  */
    --accent-alt: 200 27% 96%;
    --secondary: 0 0% 96%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 195 31% 95%;
    /*  */
    --accent-foreground: 222 56% 17%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 220 22% 92%;
    --input: 195 31% 95%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;
    --header-height: 60px;
    --aside-width: 250px;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
}

@layer base {
  * {
    @apply !border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  .primary-shadow {
    box-shadow:
      rgba(19, 33, 68, 0.08) 0px -1px 0px 1px inset,
      rgba(19, 33, 68, 0.16) 0px 1px 3px 0px,
      rgba(19, 33, 68, 0.08) 0px 0px 1px 0px,
      rgba(19, 33, 68, 0.1) 0px 1px 1px 0px;
  }

  .flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
}
.loading-el {
  position: relative;
  overflow: hidden;
  pointer-events: none;
  color: transparent;
}
.loading-el::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 10;
  @apply bg-white opacity-50;
}

.loading-el::before {
  content: "";
  position: absolute;
  z-index: 11;
  translate: -50% -50%;
  top: 50%;
  left: 50%;
  border-width: 3px;
  @apply h-5 w-5 animate-spin rounded-full border-primary border-t-transparent;
}
* {
  min-width: 0;
  min-height: 0;
}
/* select labels beside required inputs */
.required-label::after {
  content: "*";
  color: hsl(var(--destructive));
  margin-left: 0.25rem;
}
#opencopilot-aicopilot {
  position: static !important;
}
