{
  "openapi": "3.0.2",
  "info": {
    "title": "Binance Public Spot API",
    "description": "OpenAPI Specifications for the Binance Public Spot API\n\nAPI documents:\n  - [https://github.com/binance/binance-spot-api-docs](https://github.com/binance/binance-spot-api-docs)\n  - [https://binance-docs.github.io/apidocs/spot/en](https://binance-docs.github.io/apidocs/spot/en)",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.binance.com"
    },
    {
      "url": "https://testnet.binance.vision"
    }
  ],
  "tags": [
    {
      "name": "Market",
      "description": "Market Data"
    },
    {
      "name": "Trade",
      "description": "Account/Trade"
    },
    {
      "name": "Margin",
      "description": "Margin Account/Trade"
    },
    {
      "name": "Wallet",
      "description": "Wallet Endpoints"
    },
    {
      "name": "Sub-Account",
      "description": "Sub-account Endpoints"
    },
    {
      "name": "Stream",
      "description": "User Data Stream"
    },
    {
      "name": "Margin Stream",
      "description": "Margin User Data Stream"
    },
    {
      "name": "Isolated Margin Stream",
      "description": "Isolated User Data Stream"
    },
    {
      "name": "Savings",
      "description": "Savings Endpoints"
    },
    {
      "name": "Staking",
      "description": "Staking Endpoints"
    },
    {
      "name": "Mining",
      "description": "Mining Endpoints"
    },
    {
      "name": "Futures",
      "description": "Futures Endpoints"
    },
    {
      "name": "Futures Algo",
      "description": "Futures Algo Endpoints"
    },
    {
      "name": "Spot Algo",
      "description": "Spot Algo Endpoints"
    },
    {
      "name": "Portfolio Margin",
      "description": "Portfolio Margin Endpoints"
    },
    {
      "name": "BLVT",
      "description": "Binance Leveraged Tokens Endpoints"
    },
    {
      "name": "BSwap",
      "description": "Binance Swap Endpoints"
    },
    {
      "name": "Fiat",
      "description": "Fiat Endpoints"
    },
    {
      "name": "C2C",
      "description": "Consumer-To-Consumer Endpoints"
    },
    {
      "name": "VIP Loans",
      "description": "VIP Loans Endpoints"
    },
    {
      "name": "Crypto Loans",
      "description": "Crypto Loans Endpoints"
    },
    {
      "name": "Pay",
      "description": "Pay Endpoints"
    },
    {
      "name": "Convert",
      "description": "Convert Endpoints"
    },
    {
      "name": "Rebate",
      "description": "Rebate Endpoints"
    },
    {
      "name": "NFT",
      "description": "NFT Endpoints"
    },
    {
      "name": "Gift Card",
      "description": "Gift Card Endpoints"
    },
    {
      "name": "Auto-Invest",
      "description": "Auto-Invest Endpoints"
    },
    {
      "name": "Simple Earn",
      "description": "Simple Earn Endpoints"
    }
  ],
  "paths": {
    "/api/v3/ping": {
      "get": {
        "summary": "Test Connectivity",
        "description": "Test connectivity to the Rest API.\n\nWeight(IP): 1",
        "tags": [
          "Market"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/time": {
      "get": {
        "summary": "Check Server Time",
        "description": "Test connectivity to the Rest API and get the current server time.\n\nWeight(IP): 1",
        "tags": [
          "Market"
        ],
        "responses": {
          "200": {
            "description": "Binance server UTC timestamp",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "serverTime": {
                      "type": "integer",
                      "format": "int64",
                      "example": 1499827319559
                    }
                  },
                  "required": [
                    "serverTime"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/exchangeInfo": {
      "get": {
        "summary": "Exchange Information",
        "description": "Current exchange trading rules and symbol information\n\n- If any symbol provided in either symbol or symbols do not exist, the endpoint will throw an error.\n\nWeight(IP): 10",
        "tags": [
          "Market"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/optionalSymbol"
          },
          {
            "$ref": "#/components/parameters/arraySymbols"
          },
          {
            "$ref": "#/components/parameters/permissions"
          }
        ],
        "responses": {
          "200": {
            "description": "Current exchange trading rules and symbol information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "timezone": {
                      "type": "string",
                      "example": "UTC"
                    },
                    "serverTime": {
                      "type": "integer",
                      "format": "int64",
                      "example": 1592882214236
                    },
                    "rateLimits": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "rateLimitType": {
                            "type": "string",
                            "example": "REQUEST_WEIGHT"
                          },
                          "interval": {
                            "type": "string",
                            "example": "MINUTE"
                          },
                          "intervalNum": {
                            "type": "integer",
                            "format": "int32",
                            "example": 1
                          },
                          "limit": {
                            "type": "integer",
                            "format": "int32",
                            "example": 1200
                          }
                        },
                        "required": [
                          "rateLimitType",
                          "interval",
                          "intervalNum",
                          "limit"
                        ]
                      }
                    },
                    "exchangeFilters": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "symbols": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "symbol": {
                            "type": "string",
                            "example": "ETHBTC"
                          },
                          "status": {
                            "type": "string",
                            "example": "TRADING"
                          },
                          "baseAsset": {
                            "type": "string",
                            "example": "ETH"
                          },
                          "baseAssetPrecision": {
                            "type": "integer",
                            "format": "int32",
                            "example": 8
                          },
                          "quoteAsset": {
                            "type": "string",
                            "example": "BTC"
                          },
                          "quoteAssetPrecision": {
                            "type": "integer",
                            "format": "int32",
                            "example": 8
                          },
                          "baseCommissionPrecision": {
                            "type": "integer",
                            "format": "int32",
                            "example": 8
                          },
                          "quoteCommissionPrecision": {
                            "type": "integer",
                            "format": "int32",
                            "example": 8
                          },
                          "orderTypes": {
                            "type": "array",
                            "items": {
                              "type": "string",
                              "example": "LIMIT"
                            }
                          },
                          "icebergAllowed": {
                            "type": "boolean"
                          },
                          "ocoAllowed": {
                            "type": "boolean"
                          },
                          "quoteOrderQtyMarketAllowed": {
                            "type": "boolean"
                          },
                          "allowTrailingStop": {
                            "type": "boolean",
                            "example": false
                          },
                          "isSpotTradingAllowed": {
                            "type": "boolean"
                          },
                          "isMarginTradingAllowed": {
                            "type": "boolean"
                          },
                          "filters": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "filterType": {
                                  "type": "string",
                                  "example": "PRICE_FILTER"
                                },
                                "minPrice": {
                                  "type": "string",
                                  "example": "0.00000100"
                                },
                                "maxPrice": {
                                  "type": "string",
                                  "example": "100000.00000000"
                                },
                                "tickSize": {
                                  "type": "string",
                                  "example": "0.00000100"
                                }
                              },
                              "required": [
                                "filterType",
                                "minPrice",
                                "maxPrice",
                                "tickSize"
                              ]
                            }
                          },
                          "permissions": {
                            "type": "array",
                            "items": {
                              "type": "string",
                              "example": "SPOT"
                            }
                          },
                          "defaultSelfTradePreventionMode": {
                            "type": "string",
                            "example": "NONE"
                          },
                          "allowedSelfTradePreventionModes": {
                            "type": "array",
                            "items": {
                              "type": "string",
                              "example": "NONE"
                            }
                          }
                        },
                        "required": [
                          "symbol",
                          "status",
                          "baseAsset",
                          "baseAssetPrecision",
                          "quoteAsset",
                          "quoteAssetPrecision",
                          "baseCommissionPrecision",
                          "quoteCommissionPrecision",
                          "orderTypes",
                          "icebergAllowed",
                          "ocoAllowed",
                          "quoteOrderQtyMarketAllowed",
                          "allowTrailingStop",
                          "isSpotTradingAllowed",
                          "isMarginTradingAllowed",
                          "filters",
                          "permissions",
                          "defaultSelfTradePreventionMode",
                          "allowedSelfTradePreventionModes"
                        ]
                      }
                    }
                  },
                  "required": [
                    "timezone",
                    "serverTime",
                    "rateLimits",
                    "exchangeFilters",
                    "symbols"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/depth": {
      "get": {
        "summary": "Order Book",
        "description": "| Limit               | Weight(IP)  |\n|---------------------|-------------|\n| 1-100               | 5           |\n| 101-500             | 25          |\n| 501-1000            | 50          |\n| 1001-5000           | 250         |",
        "tags": [
          "Market"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/symbol"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "If limit > 5000, then the response will truncate to 5000",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 100,
              "maximum": 5000,
              "example": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Order book",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "lastUpdateId": {
                      "type": "integer",
                      "format": "int64"
                    },
                    "bids": {
                      "type": "array",
                      "items": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "minItems": 2,
                          "maxItems": 2
                        }
                      }
                    },
                    "asks": {
                      "type": "array",
                      "items": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "minItems": 2,
                          "maxItems": 2
                        }
                      }
                    }
                  },
                  "required": [
                    "lastUpdateId",
                    "bids",
                    "asks"
                  ]
                },
                "example": {
                  "lastUpdateId": 1027024,
                  "bids": [
                    [
                      "4.00000000",
                      "431.00000000"
                    ]
                  ],
                  "asks": [
                    [
                      "4.00000200",
                      "12.00000000"
                    ]
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/trades": {
      "get": {
        "summary": "Recent Trades List",
        "description": "Get recent trades.\n\nWeight(IP): 10",
        "tags": [
          "Market"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/symbol"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Trade list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/trade"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/historicalTrades": {
      "get": {
        "summary": "Old Trade Lookup",
        "description": "Get older market trades.\n\nWeight(IP): 10",
        "tags": [
          "Market"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/symbol"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/fromId"
          }
        ],
        "responses": {
          "200": {
            "description": "Trade list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/trade"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/aggTrades": {
      "get": {
        "summary": "Compressed/Aggregate Trades List",
        "description": "Get compressed, aggregate trades. Trades that fill at the time, from the same order, with the same price will have the quantity aggregated.\n- If `fromId`, `startTime`, and `endTime` are not sent, the most recent aggregate trades will be returned.\n- Note that if a trade has the following values, this was a duplicate aggregate trade and marked as invalid:\n\n  p = '0' // price\n\n  q = '0' // qty\n\n  f = -1 // ﬁrst_trade_id\n\n  l = -1 // last_trade_id\n\nWeight(IP): 2",
        "tags": [
          "Market"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/symbol"
          },
          {
            "$ref": "#/components/parameters/fromId"
          },
          {
            "$ref": "#/components/parameters/startTime"
          },
          {
            "$ref": "#/components/parameters/endTime"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Trade list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/aggTrade"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/klines": {
      "get": {
        "summary": "Kline/Candlestick Data",
        "description": "Kline/candlestick bars for a symbol.\nKlines are uniquely identified by their open time.\n\n- If `startTime` and `endTime` are not sent, the most recent klines are returned.\n\nWeight(IP): 2",
        "tags": [
          "Market"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/symbol"
          },
          {
            "name": "interval",
            "in": "query",
            "required": true,
            "description": "kline intervals",
            "schema": {
              "type": "string",
              "enum": [
                "1s",
                "1m",
                "3m",
                "5m",
                "15m",
                "30m",
                "1h",
                "2h",
                "4h",
                "6h",
                "8h",
                "12h",
                "1d",
                "3d",
                "1w",
                "1M"
              ],
              "example": "\"1m\""
            }
          },
          {
            "$ref": "#/components/parameters/startTime"
          },
          {
            "$ref": "#/components/parameters/endTime"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Kline data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "array",
                    "items": {
                      "oneOf": [
                        {
                          "type": "integer",
                          "format": "int64"
                        },
                        {
                          "type": "string"
                        }
                      ],
                      "minItems": 12,
                      "maxItems": 12
                    },
                    "example": [
                      1499040000000,
                      "0.01634790",
                      "0.80000000",
                      "0.01575800",
                      "0.01577100",
                      "148976.11427815",
                      1499644799999,
                      "2434.19055334",
                      308,
                      "1756.87402397",
                      "28.46694368",
                      "17928899.62484339"
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/uiKlines": {
      "get": {
        "summary": "UIKlines",
        "description": "The request is similar to klines having the same parameters and response.\n\nuiKlines return modified kline data, optimized for presentation of candlestick charts.\n\nWeight(IP): 2",
        "tags": [
          "Market"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/symbol"
          },
          {
            "name": "interval",
            "in": "query",
            "required": true,
            "description": "kline intervals",
            "schema": {
              "type": "string",
              "enum": [
                "1s",
                "1m",
                "3m",
                "5m",
                "15m",
                "30m",
                "1h",
                "2h",
                "4h",
                "6h",
                "8h",
                "12h",
                "1d",
                "3d",
                "1w",
                "1M"
              ],
              "example": "\"1m\""
            }
          },
          {
            "$ref": "#/components/parameters/startTime"
          },
          {
            "$ref": "#/components/parameters/endTime"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "description": "UIKline data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "array",
                    "items": {
                      "oneOf": [
                        {
                          "type": "integer",
                          "format": "int64"
                        },
                        {
                          "type": "string"
                        }
                      ],
                      "minItems": 12,
                      "maxItems": 12
                    },
                    "example": [
                      1499040000000,
                      "0.01634790",
                      "0.80000000",
                      "0.01575800",
                      "0.01577100",
                      "148976.11427815",
                      1499644799999,
                      "2434.19055334",
                      308,
                      "1756.87402397",
                      "28.46694368",
                      "0"
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/avgPrice": {
      "get": {
        "summary": "Current Average Price",
        "description": "Current average price for a symbol.\n\nWeight(IP): 2",
        "tags": [
          "Market"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/symbol"
          }
        ],
        "responses": {
          "200": {
            "description": "Average price",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "mins": {
                      "type": "integer",
                      "format": "int64",
                      "example": 5
                    },
                    "price": {
                      "type": "string",
                      "example": "9.35751834"
                    }
                  },
                  "required": [
                    "mins",
                    "price"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/ticker/24hr": {
      "get": {
        "summary": "24hr Ticker Price Change Statistics",
        "description": "24 hour rolling window price change statistics. Careful when accessing this with no symbol.\n\n- If the symbol is not sent, tickers for all symbols will be returned in an array.\n\nWeight(IP):\n- `2` for a single symbol;\n- `80` when the symbol parameter is omitted;",
        "tags": [
          "Market"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/optionalSymbol"
          },
          {
            "$ref": "#/components/parameters/arraySymbols"
          },
          {
            "name": "type",
            "in": "query",
            "description": "Supported values: FULL or MINI.\nIf none provided, the default is FULL",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "24hr ticker",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ticker"
                    },
                    {
                      "$ref": "#/components/schemas/tickerList"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/ticker/price": {
      "get": {
        "summary": "Symbol Price Ticker",
        "description": "Latest price for a symbol or symbols.\n\n- If the symbol is not sent, prices for all symbols will be returned in an array.\n\nWeight(IP):\n- `2` for a single symbol;\n- `4` when the symbol parameter is omitted;",
        "tags": [
          "Market"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/optionalSymbol"
          },
          {
            "$ref": "#/components/parameters/arraySymbols"
          }
        ],
        "responses": {
          "200": {
            "description": "Price ticker",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/priceTicker"
                    },
                    {
                      "$ref": "#/components/schemas/priceTickerList"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/ticker/bookTicker": {
      "get": {
        "summary": "Symbol Order Book Ticker",
        "description": "Best price/qty on the order book for a symbol or symbols.\n\n- If the symbol is not sent, bookTickers for all symbols will be returned in an array.\n\nWeight(IP):\n- `2` for a single symbol;\n- `4` when the symbol parameter is omitted;",
        "tags": [
          "Market"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/optionalSymbol"
          },
          {
            "$ref": "#/components/parameters/arraySymbols"
          }
        ],
        "responses": {
          "200": {
            "description": "Order book ticker",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/bookTicker"
                    },
                    {
                      "$ref": "#/components/schemas/bookTickerList"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/ticker": {
      "get": {
        "summary": "Rolling window price change statistics",
        "description": "The window used to compute statistics is typically slightly wider than requested windowSize.\n\nopenTime for /api/v3/ticker always starts on a minute, while the closeTime is the current time of the request. As such, the effective window might be up to 1 minute wider than requested.\n\nE.g. If the closeTime is 1641287867099 (January 04, 2022 09:17:47:099 UTC) , and the windowSize is 1d. the openTime will be: 1641201420000 (January 3, 2022, 09:17:00 UTC)\n\nWeight(IP): 4 for each requested symbol regardless of windowSize.\n\nThe weight for this request will cap at 200 once the number of symbols in the request is more than 50.",
        "tags": [
          "Market"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/optionalSymbol"
          },
          {
            "$ref": "#/components/parameters/arraySymbols"
          },
          {
            "name": "windowSize",
            "in": "query",
            "description": "Defaults to 1d if no parameter provided.\nSupported windowSize values:\n1m,2m....59m for minutes\n1h, 2h....23h - for hours\n1d...7d - for days.\n\nUnits cannot be combined (e.g. 1d2h is not allowed)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Supported values: FULL or MINI.\nIf none provided, the default is FULL",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Rolling price ticker",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "symbol": {
                      "type": "string",
                      "example": "BNBBTC"
                    },
                    "priceChange": {
                      "type": "string",
                      "example": "-8.00000000"
                    },
                    "priceChangePercent": {
                      "type": "string",
                      "example": "-88.889"
                    },
                    "weightedAvgPrice": {
                      "type": "string",
                      "example": "2.60427807"
                    },
                    "openPrice": {
                      "type": "string",
                      "example": "9.00000000"
                    },
                    "highPrice": {
                      "type": "string",
                      "example": "9.00000000"
                    },
                    "lowPrice": {
                      "type": "string",
                      "example": "1.00000000"
                    },
                    "lastPrice": {
                      "type": "string",
                      "example": "1.00000000"
                    },
                    "volume": {
                      "type": "string",
                      "example": "187.00000000"
                    },
                    "quoteVolume": {
                      "type": "string",
                      "example": "487.00000000"
                    },
                    "openTime": {
                      "type": "integer",
                      "format": "int64",
                      "example": 1641859200000
                    },
                    "closeTime": {
                      "type": "integer",
                      "format": "int64",
                      "example": 1642031999999
                    },
                    "firstId": {
                      "type": "integer",
                      "format": "int64",
                      "example": 0
                    },
                    "lastId": {
                      "type": "integer",
                      "format": "int64",
                      "example": 60
                    },
                    "count": {
                      "type": "integer",
                      "format": "int64",
                      "example": 61
                    }
                  },
                  "required": [
                    "symbol",
                    "priceChange",
                    "priceChangePercent",
                    "weightedAvgPrice",
                    "openPrice",
                    "highPrice",
                    "lowPrice",
                    "lastPrice",
                    "volume",
                    "quoteVolume",
                    "openTime",
                    "closeTime",
                    "firstId",
                    "lastId",
                    "count"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/order/test": {
      "post": {
        "summary": "Test New Order (TRADE)",
        "description": "Test new order creation and signature/recvWindow long.\nCreates and validates a new order but does not send it into the matching engine.\n\nWeight(IP): 1",
        "tags": [
          "Trade"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/symbol"
          },
          {
            "$ref": "#/components/parameters/side"
          },
          {
            "$ref": "#/components/parameters/orderType"
          },
          {
            "$ref": "#/components/parameters/timeInForce"
          },
          {
            "$ref": "#/components/parameters/optionalQuantity"
          },
          {
            "$ref": "#/components/parameters/quoteOrderQty"
          },
          {
            "$ref": "#/components/parameters/optionalPrice"
          },
          {
            "$ref": "#/components/parameters/newClientOrderId"
          },
          {
            "$ref": "#/components/parameters/strategyId"
          },
          {
            "$ref": "#/components/parameters/strategyType"
          },
          {
            "$ref": "#/components/parameters/stopPrice"
          },
          {
            "$ref": "#/components/parameters/optionalTrailingDelta"
          },
          {
            "$ref": "#/components/parameters/icebergQty"
          },
          {
            "$ref": "#/components/parameters/newOrderRespType"
          },
          {
            "$ref": "#/components/parameters/recvWindow"
          },
          {
            "$ref": "#/components/parameters/timestamp"
          },
          {
            "$ref": "#/components/parameters/signature"
          }
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/order": {
      "get": {
        "summary": "Query Order (USER_DATA)",
        "description": "Check an order's status.\n\n- Either `orderId` or `origClientOrderId` must be sent.\n- For some historical orders `cummulativeQuoteQty` will be < 0, meaning the data is not available at this time.\n\nWeight(IP): 4",
        "tags": [
          "Trade"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/symbol"
          },
          {
            "$ref": "#/components/parameters/orderId"
          },
          {
            "$ref": "#/components/parameters/origClientOrderId"
          },
          {
            "$ref": "#/components/parameters/recvWindow"
          },
          {
            "$ref": "#/components/parameters/timestamp"
          },
          {
            "$ref": "#/components/parameters/signature"
          }
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Order details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/orderDetails"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "New Order (TRADE)",
        "description": "Send in a new order.\n\n- `LIMIT_MAKER` are `LIMIT` orders that will be rejected if they would immediately match and trade as a taker.\n- `STOP_LOSS` and `TAKE_PROFIT` will execute a `MARKET` order when the `stopPrice` is reached.\n- Any `LIMIT` or `LIMIT_MAKER` type order can be made an iceberg order by sending an `icebergQty`.\n- Any order with an `icebergQty` MUST have `timeInForce` set to `GTC`.\n- `MARKET` orders using `quantity` specifies how much a user wants to buy or sell based on the market price.\n- `MARKET` orders using `quoteOrderQty` specifies the amount the user wants to spend (when buying) or receive (when selling) of the quote asset; the correct quantity will be determined based on the market liquidity and `quoteOrderQty`.\n- `MARKET` orders using `quoteOrderQty` will not break `LOT_SIZE` filter rules; the order will execute a quantity that will have the notional value as close as possible to `quoteOrderQty`.\n- same `newClientOrderId` can be accepted only when the previous one is filled, otherwise the order will be rejected.\n\nTrigger order price rules against market price for both `MARKET` and `LIMIT` versions:\n\n- Price above market price: `STOP_LOSS` `BUY`, `TAKE_PROFIT` `SELL`\n- Price below market price: `STOP_LOSS` `SELL`, `TAKE_PROFIT` `BUY`\n\n\nWeight(IP): 1",
        "tags": [
          "Trade"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/symbol"
          },
          {
            "$ref": "#/components/parameters/side"
          },
          {
            "$ref": "#/components/parameters/orderType"
          },
          {
            "$ref": "#/components/parameters/timeInForce"
          },
          {
            "$ref": "#/components/parameters/optionalQuantity"
          },
          {
            "$ref": "#/components/parameters/quoteOrderQty"
          },
          {
            "$ref": "#/components/parameters/optionalPrice"
          },
          {
            "$ref": "#/components/parameters/newClientOrderId"
          },
          {
            "$ref": "#/components/parameters/strategyId"
          },
          {
            "$ref": "#/components/parameters/strategyType"
          },
          {
            "$ref": "#/components/parameters/stopPrice"
          },
          {
            "$ref": "#/components/parameters/optionalTrailingDelta"
          },
          {
            "$ref": "#/components/parameters/icebergQty"
          },
          {
            "$ref": "#/components/parameters/newOrderRespType"
          },
          {
            "$ref": "#/components/parameters/selfTradePreventionMode"
          },
          {
            "$ref": "#/components/parameters/recvWindow"
          },
          {
            "$ref": "#/components/parameters/timestamp"
          },
          {
            "$ref": "#/components/parameters/signature"
          }
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Order result",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/orderResponseAck"
                    },
                    {
                      "$ref": "#/components/schemas/orderResponseResult"
                    },
                    {
                      "$ref": "#/components/schemas/orderResponseFull"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Cancel Order (TRADE)",
        "description": "Cancel an active order.\n\nEither `orderId` or `origClientOrderId` must be sent.\n\nWeight(IP): 1",
        "tags": [
          "Trade"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/symbol"
          },
          {
            "$ref": "#/components/parameters/orderId"
          },
          {
            "$ref": "#/components/parameters/origClientOrderId"
          },
          {
            "$ref": "#/components/parameters/newClientOrderId"
          },
          {
            "$ref": "#/components/parameters/cancelRestrictions"
          },
          {
            "$ref": "#/components/parameters/recvWindow"
          },
          {
            "$ref": "#/components/parameters/timestamp"
          },
          {
            "$ref": "#/components/parameters/signature"
          }
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Cancelled order",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/order"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/order/cancelReplace": {
      "post": {
        "summary": "Cancel an Existing Order and Send a New Order (Trade)",
        "description": "Cancels an existing order and places a new order on the same symbol.\n\nFilters and Order Count are evaluated before the processing of the cancellation and order placement occurs.\n\nA new order that was not attempted (i.e. when newOrderResult: NOT_ATTEMPTED), will still increase the order count by 1.\n\nWeight(IP): 1",
        "tags": [
          "Trade"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/symbol"
          },
          {
            "$ref": "#/components/parameters/side"
          },
          {
            "$ref": "#/components/parameters/orderType"
          },
          {
            "name": "cancelReplaceMode",
            "in": "query",
            "required": true,
            "description": "- `STOP_ON_FAILURE` If the cancel request fails, the new order placement will not be attempted.\n- `ALLOW_FAILURES` If new order placement will be attempted even if cancel request fails.",
            "schema": {
              "type": "string",
              "example": "STOP_ON_FAILURE"
            }
          },
          {
            "$ref": "#/components/parameters/cancelRestrictions"
          },
          {
            "$ref": "#/components/parameters/timeInForce"
          },
          {
            "$ref": "#/components/parameters/optionalQuantity"
          },
          {
            "$ref": "#/components/parameters/quoteOrderQty"
          },
          {
            "$ref": "#/components/parameters/optionalPrice"
          },
          {
            "name": "cancelNewClientOrderId",
            "in": "query",
            "description": "Used to uniquely identify this cancel. Automatically generated by default",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cancelOrigClientOrderId",
            "in": "query",
            "description": "Either the cancelOrigClientOrderId or cancelOrderId must be provided. If both are provided, cancelOrderId takes precedence.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cancelOrderId",
            "in": "query",
            "description": "Either the cancelOrigClientOrderId or cancelOrderId must be provided. If both are provided, cancelOrderId takes precedence.",
            "schema": {
              "type": "integer",
              "format": "int64",
              "example": 12
            }
          },
          {
            "$ref": "#/components/parameters/newClientOrderId"
          },
          {
            "$ref": "#/components/parameters/strategyId"
          },
          {
            "$ref": "#/components/parameters/strategyType"
          },
          {
            "$ref": "#/components/parameters/stopPrice"
          },
          {
            "$ref": "#/components/parameters/optionalTrailingDelta"
          },
          {
            "$ref": "#/components/parameters/icebergQty"
          },
          {
            "$ref": "#/components/parameters/newOrderRespType"
          },
          {
            "$ref": "#/components/parameters/selfTradePreventionMode"
          },
          {
            "$ref": "#/components/parameters/recvWindow"
          },
          {
            "$ref": "#/components/parameters/timestamp"
          },
          {
            "$ref": "#/components/parameters/signature"
          }
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Operation details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "cancelResult": {
                      "type": "string",
                      "example": "SUCCESS"
                    },
                    "newOrderResult": {
                      "type": "string",
                      "example": "SUCCESS"
                    },
                    "cancelResponse": {
                      "type": "object",
                      "properties": {
                        "symbol": {
                          "type": "string",
                          "example": "BTCUSDT"
                        },
                        "origClientOrderId": {
                          "type": "string",
                          "example": "DnLo3vTAQcjha43lAZhZ0y"
                        },
                        "orderId": {
                          "type": "integer",
                          "format": "int64",
                          "example": 9
                        },
                        "orderListId": {
                          "type": "integer",
                          "format": "int64",
                          "example": -1
                        },
                        "clientOrderId": {
                          "type": "string",
                          "example": "osxN3JXAtJvKvCqGeMWMVR"
                        },
                        "price": {
                          "type": "string",
                          "example": "0.01000000"
                        },
                        "origQty": {
                          "type": "string",
                          "example": "0.000100"
                        },
                        "executedQty": {
                          "type": "string",
                          "example": "0.00000000"
                        },
                        "cummulativeQuoteQty": {
                          "type": "string",
                          "example": "0.00000000"
                        },
                        "status": {
                          "type": "string",
                          "example": "CANCELED"
                        },
                        "timeInForce": {
                          "type": "string",
                          "example": "GTC"
                        },
                        "type": {
                          "type": "string",
                          "example": "LIMIT"
                        },
                        "side": {
                          "type": "string",
                          "example": "SELL"
                        },
                        "selfTradePreventionMode": {
                          "type": "string",
                          "example": "NONE"
                        },
                        "transactTime": {
                          "type": "integer",
                          "format": "int64",
                          "example": 1507725176595
                        }
                      },
                      "required": [
                        "symbol",
                        "origClientOrderId",
                        "orderId",
                        "orderListId",
                        "clientOrderId",
                        "price",
                        "origQty",
                        "executedQty",
                        "cummulativeQuoteQty",
                        "status",
                        "timeInForce",
                        "type",
                        "side",
                        "selfTradePreventionMode"
                      ]
                    },
                    "newOrderResponse": {
                      "type": "object",
                      "properties": {
                        "symbol": {
                          "type": "string",
                          "example": "BTCUSDT"
                        },
                        "orderId": {
                          "type": "integer",
                          "format": "int64",
                          "example": 10
                        },
                        "orderListId": {
                          "type": "integer",
                          "format": "int64",
                          "example": -1
                        },
                        "clientOrderId": {
                          "type": "string",
                          "example": "wOceeeOzNORyLiQfw7jd8S"
                        },
                        "transactTime": {
                          "type": "integer",
                          "format": "int64",
                          "example": 1652928801803
                        },
                        "price": {
                          "type": "string",
                          "example": "0.02000000"
                        },
                        "origQty": {
                          "type": "string",
                          "example": "0.040000"
                        },
                        "executedQty": {
                          "type": "string",
                          "example": "0.00000000"
                        },
                        "cummulativeQuoteQty": {
                          "type": "string",
                          "example": "0.00000000"
                        },
                        "status": {
                          "type": "string",
                          "example": "NEW"
                        },
                        "timeInForce": {
                          "type": "string",
                          "example": "GTC"
                        },
                        "type": {
                          "type": "string",
                          "example": "LIMIT"
                        },
                        "side": {
                          "type": "string",
                          "example": "BUY"
                        },
                        "workingTime": {
                          "type": "integer",
                          "format": "int64",
                          "example": 1669277163808
                        },
                        "fills": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "maxItems": 0
                        },
                        "selfTradePreventionMode": {
                          "type": "string",
                          "example": "NONE"
                        }
                      },
                      "required": [
                        "symbol",
                        "orderId",
                        "orderListId",
                        "clientOrderId",
                        "transactTime",
                        "price",
                        "origQty",
                        "executedQty",
                        "cummulativeQuoteQty",
                        "status",
                        "timeInForce",
                        "type",
                        "side",
                        "workingTime",
                        "fills",
                        "selfTradePreventionMode"
                      ]
                    }
                  },
                  "required": [
                    "cancelResult",
                    "newOrderResult",
                    "cancelResponse",
                    "newOrderResponse"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/openOrders": {
      "get": {
        "summary": "Current Open Orders (USER_DATA)",
        "description": "Get all open orders on a symbol. Careful when accessing this with no symbol.\n\nWeight(IP):\n- `6` for a single symbol;\n- `80` when the symbol parameter is omitted;",
        "tags": [
          "Trade"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/optionalSymbol"
          },
          {
            "$ref": "#/components/parameters/recvWindow"
          },
          {
            "$ref": "#/components/parameters/timestamp"
          },
          {
            "$ref": "#/components/parameters/signature"
          }
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Current open orders",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/orderDetails"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Cancel all Open Orders on a Symbol (TRADE)",
        "description": "Cancels all active orders on a symbol.\nThis includes OCO orders.\n\nWeight(IP): 1",
        "tags": [
          "Trade"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/symbol"
          },
          {
            "$ref": "#/components/parameters/recvWindow"
          },
          {
            "$ref": "#/components/parameters/timestamp"
          },
          {
            "$ref": "#/components/parameters/signature"
          }
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Cancelled orders",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "anyOf": [
                      {
                        "$ref": "#/components/schemas/order"
                      },
                      {
                        "$ref": "#/components/schemas/ocoOrder"
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/allOrders": {
      "get": {
        "summary": "All Orders (USER_DATA)",
        "description": "Get all account orders; active, canceled, or filled..\n\n- If `orderId` is set, it will get orders >= that `orderId`. Otherwise most recent orders are returned.\n- For some historical orders `cummulativeQuoteQty` will be < 0, meaning the data is not available at this time.\n- If `startTime` and/or `endTime` provided, `orderId` is not required\n\nWeight(IP): 20",
        "tags": [
          "Trade"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/symbol"
          },
          {
            "$ref": "#/components/parameters/orderId"
          },
          {
            "$ref": "#/components/parameters/startTime"
          },
          {
            "$ref": "#/components/parameters/endTime"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/recvWindow"
          },
          {
            "$ref": "#/components/parameters/timestamp"
          },
          {
            "$ref": "#/components/parameters/signature"
          }
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Current open orders",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/orderDetails"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/order/oco": {
      "post": {
        "summary": "New OCO (TRADE)",
        "description": "Send in a new OCO\n\n- Price Restrictions:\n  - `SELL`: Limit Price > Last Price > Stop Price\n  - `BUY`: Limit Price < Last Price < Stop Price\n- Quantity Restrictions:\n    - Both legs must have the same quantity\n    - `ICEBERG` quantities however do not have to be the same\n- Order Rate Limit\n    - `OCO` counts as 2 orders against the order rate limit.\n\nWeight(IP): 1",
        "tags": [
          "Trade"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/symbol"
          },
          {
            "$ref": "#/components/parameters/listClientOrderId"
          },
          {
            "$ref": "#/components/parameters/side"
          },
          {
            "$ref": "#/components/parameters/quantity"
          },
          {
            "$ref": "#/components/parameters/limitClientOrderId"
          },
          {
            "$ref": "#/components/parameters/limitStrategyId"
          },
          {
            "$ref": "#/components/parameters/limitStrategyType"
          },
          {
            "$ref": "#/components/parameters/price"
          },
          {
            "$ref": "#/components/parameters/limitIcebergQty"
          },
          {
            "name": "trailingDelta",
            "in": "query",
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "$ref": "#/components/parameters/stopClientOrderId"
          },
          {
            "$ref": "#/components/parameters/ocoStopPrice"
          },
          {
            "$ref": "#/components/parameters/stopStrategyId"
          },
          {
            "$ref": "#/components/parameters/stopStrategyType"
          },
          {
            "$ref": "#/components/parameters/stopLimitPrice"
          },
          {
            "$ref": "#/components/parameters/stopIcebergQty"
          },
          {
            "$ref": "#/components/parameters/stopLimitTimeInForce"
          },
          {
            "$ref": "#/components/parameters/ocoNewOrderRespType"
          },
          {
            "$ref": "#/components/parameters/selfTradePreventionMode"
          },
          {
            "$ref": "#/components/parameters/recvWindow"
          },
          {
            "$ref": "#/components/parameters/timestamp"
          },
          {
            "$ref": "#/components/parameters/signature"
          }
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "New OCO details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "orderListId": {
                      "type": "integer",
                      "format": "int64",
                      "example": 0
                    },
                    "contingencyType": {
                      "type": "string",
                      "example": "OCO"
                    },
                    "listStatusType": {
                      "type": "string",
                      "example": "EXEC_STARTED"
                    },
                    "listOrderStatus": {
                      "type": "string",
                      "example": "EXECUTING"
                    },
                    "listClientOrderId": {
                      "type": "string",
                      "example": "JYVpp3F0f5CAG15DhtrqLp"
                    },
                    "transactionTime": {
                      "type": "integer",
                      "format": "int64",
                      "example": 1563417480525
                    },
                    "symbol": {
                      "type": "string",
                      "example": "LTCBTC"
                    },
                    "orders": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "symbol": {
                            "type": "string"
                          },
                          "orderId": {
                            "type": "integer",
                            "format": "int64"
                          },
                          "clientOrderId": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "symbol",
                          "orderId",
                          "clientOrderId"
                        ],
                        "example": [
                          {
                            "symbol": "LTCBTC",
                            "orderId": 2,
                            "clientOrderId": "Kk7sqHb9J6mJWTMDVW7Vos"
                          },
                          {
                            "symbol": "LTCBTC",
                            "orderId": 3,
                            "clientOrderId": "xTXKaGYd4bluPVp78IVRvl"
                          }
                        ]
                      }
                    },
                    "orderReports": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "symbol": {
                            "type": "string"
                          },
                          "orderId": {
                            "type": "integer",
                            "format": "int64"
                          },
                          "orderListId": {
                            "type": "integer",
                            "format": "int64"
                          },
                          "clientOrderId": {
                            "type": "string"
                          },
                          "transactTime": {
                            "type": "integer",
                            "format": "int64"
                          },
                          "price": {
                            "type": "string"
                          },
                          "origQty": {
                            "type": "string"
                          },
                          "executedQty": {
                            "type": "string"
                          },
                          "cummulativeQuoteQty": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "timeInForce": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "side": {
                            "type": "string"
                          },
                          "stopPrice": {
                            "type": "string"
                          },
                          "workingTime": {
                            "type": "string"
                          },
                          "selfTradePreventionMode": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "symbol",
                          "orderId",
                          "orderListId",
                          "clientOrderId",
                          "transactTime",
                          "price",
                          "origQty",
                          "executedQty",
                          "cummulativeQuoteQty",
                          "status",
                          "timeInForce",
                          "type",
                          "side",
                          "stopPrice",
                          "workingTime",
                          "selfTradePreventionMode"
                        ]
                      },
                      "example": [
                        {
                          "symbol": "LTCBTC",
                          "orderId": 2,
                          "orderListId": 0,
                          "clientOrderId": "Kk7sqHb9J6mJWTMDVW7Vos",
                          "transactTime": 1563417480525,
                          "price": "0.000000",
                          "origQty": "0.624363",
                          "executedQty": "0.000000",
                          "cummulativeQuoteQty": "0.000000",
                          "status": "NEW",
                          "timeInForce": "GTC",
                          "type": "STOP_LOSS",
                          "side": "BUY",
                          "stopPrice": "0.960664",
                          "workingTime": -1,
                          "selfTradePreventionMode": "NONE"
                        },
                        {
                          "symbol": "LTCBTC",
                          "orderId": 3,
                          "orderListId": 0,
                          "clientOrderId": "xTXKaGYd4bluPVp78IVRvl",
                          "transactTime": 1563417480525,
                          "price": "0.036435",
                          "origQty": "0.624363",
                          "executedQty": "0.000000",
                          "cummulativeQuoteQty": "0.000000",
                          "status": "NEW",
                          "timeInForce": "GTC",
                          "type": "LIMIT_MAKER",
                          "side": "BUY",
                          "workingTime": 1563417480525,
                          "selfTradePreventionMode": "NONE"
                        }
                      ]
                    }
                  },
                  "required": [
                    "orderListId",
                    "contingencyType",
                    "listStatusType",
                    "listOrderStatus",
                    "listClientOrderId",
                    "transactionTime",
                    "symbol",
                    "orders",
                    "orderReports"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/orderList": {
      "get": {
        "summary": "Query OCO (USER_DATA)",
        "description": "Retrieves a specific OCO based on provided optional parameters\n\nWeight(IP): 4",
        "tags": [
          "Trade"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/orderListId"
          },
          {
            "$ref": "#/components/parameters/origClientOrderId"
          },
          {
            "$ref": "#/components/parameters/recvWindow"
          },
          {
            "$ref": "#/components/parameters/timestamp"
          },
          {
            "$ref": "#/components/parameters/signature"
          }
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OCO details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "orderListId": {
                      "type": "integer",
                      "format": "int64",
                      "example": 27
                    },
                    "contingencyType": {
                      "type": "string",
                      "example": "OCO"
                    },
                    "listStatusType": {
                      "type": "string",
                      "example": "EXEC_STARTED"
                    },
                    "listOrderStatus": {
                      "type": "string",
                      "example": "EXECUTING"
                    },
                    "listClientOrderId": {
                      "type": "string",
                      "example": "h2USkA5YQpaXHPIrkd96xE"
                    },
                    "transactionTime": {
                      "type": "integer",
                      "format": "int64",
                      "example": 1565245656253
                    },
                    "symbol": {
                      "type": "string",
                      "example": "LTCBTC"
                    },
                    "orders": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "symbol": {
                            "type": "string"
                          },
                          "orderId": {
                            "type": "integer",
                            "format": "int64"
                          },
                          "clientOrderId": {
                            "type": "string"
                          }
                        },
                        "example": [
                          {
                            "symbol": "LTCBTC",
                            "orderId": 4,
                            "clientOrderId": "qD1gy3kc3Gx0rihm9Y3xwS"
                          },
                          {
                            "symbol": "LTCBTC",
                            "orderId": 5,
                            "clientOrderId": "ARzZ9I00CPM8i3NhmU9Ega"
                          }
                        ],
                        "required": [
                          "symbol",
                          "orderId",
                          "clientOrderId"
                        ]
                      }
                    }
                  },
                  "required": [
                    "orderListId",
                    "contingencyType",
                    "listStatusType",
                    "listOrderStatus",
                    "listClientOrderId",
                    "transactionTime",
                    "symbol",
                    "orders"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Cancel OCO (TRADE)",
        "description": "Cancel an entire Order List\n\nCanceling an individual leg will cancel the entire OCO\n\nWeight(IP): 1",
        "tags": [
          "Trade"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/symbol"
          },
          {
            "$ref": "#/components/parameters/orderListId"
          },
          {
            "$ref": "#/components/parameters/listClientOrderId"
          },
          {
            "$ref": "#/components/parameters/newClientOrderId"
          },
          {
            "$ref": "#/components/parameters/recvWindow"
          },
          {
            "$ref": "#/components/parameters/timestamp"
          },
          {
            "$ref": "#/components/parameters/signature"
          }
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Report on deleted OCO",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ocoOrder"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/allOrderList": {
      "get": {
        "summary": "Query all OCO (USER_DATA)",
        "description": "Retrieves all OCO based on provided optional parameters\n\nWeight(IP): 20",
        "tags": [
          "Trade"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/fromId"
          },
          {
            "$ref": "#/components/parameters/startTime"
          },
          {
            "$ref": "#/components/parameters/endTime"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/recvWindow"
          },
          {
            "$ref": "#/components/parameters/timestamp"
          },
          {
            "$ref": "#/components/parameters/signature"
          }
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of OCO orders",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "orderListId": {
                        "type": "integer",
                        "format": "int64",
                        "example": 29
                      },
                      "contingencyType": {
                        "type": "string",
                        "example": "OCO"
                      },
                      "listStatusType": {
                        "type": "string",
                        "example": "EXEC_STARTED"
                      },
                      "listOrderStatus": {
                        "type": "string",
                        "example": "EXECUTING"
                      },
                      "listClientOrderId": {
                        "type": "string",
                        "example": "amEEAXryFzFwYF1FeRpUoZ"
                      },
                      "transactionTime": {
                        "type": "integer",
                        "format": "int64",
                        "example": 1565245913483
                      },
                      "symbol": {
                        "type": "string",
                        "example": "LTCBTC"
                      },
                      "isIsolated": {
                        "type": "boolean"
                      },
                      "orders": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "symbol": {
                              "type": "string"
                            },
                            "orderId": {
                              "type": "integer",
                              "format": "int64"
                            },
                            "clientOrderId": {
                              "type": "string"
                            }
                          },
                          "example": [
                            {
                              "symbol": "LTCBTC",
                              "orderId": 4,
                              "clientOrderId": "oD7aesZqjEGlZrbtRpy5zB"
                            },
                            {
                              "symbol": "LTCBTC",
                              "orderId": 5,
                              "clientOrderId": "Jr1h6xirOxgeJOUuYQS7V3"
                            }
                          ],
                          "required": [
                            "symbol",
                            "orderId",
                            "clientOrderId"
                          ]
                        }
                      }
                    },
                    "required": [
                      "orderListId",
                      "contingencyType",
                      "listStatusType",
                      "listOrderStatus",
                      "listClientOrderId",
                      "transactionTime",
                      "symbol",
                      "isIsolated",
                      "orders"
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/openOrderList": {
      "get": {
        "summary": "Query Open OCO (USER_DATA)",
        "description": "Weight(IP): 6",
        "tags": [
          "Trade"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/recvWindow"
          },
          {
            "$ref": "#/components/parameters/timestamp"
          },
          {
            "$ref": "#/components/parameters/signature"
          }
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of OCO orders",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "orderListId": {
                        "type": "integer",
                        "format": "int64",
                        "example": 31
                      },
                      "contingencyType": {
                        "type": "string",
                        "example": "OCO"
                      },
                      "listStatusType": {
                        "type": "string",
                        "example": "EXEC_STARTED"
                      },
                      "listOrderStatus": {
                        "type": "string",
                        "example": "EXECUTING"
                      },
                      "listClientOrderId": {
                        "type": "string",
                        "example": "wuB13fmulKj3YjdqWEcsnp"
                      },
                      "transactionTime": {
                        "type": "integer",
                        "format": "int64",
                        "example": 1565246080644
                      },
                      "symbol": {
                        "type": "string",
                        "example": "LTCBTC"
                      },
                      "orders": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "symbol": {
                              "type": "string"
                            },
                            "orderId": {
                              "type": "integer",
                              "format": "int64"
                            },
                            "clientOrderId": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "symbol",
                            "orderId",
                            "clientOrderId"
                          ],
                          "example": [
                            {
                              "symbol": "LTCBTC",
                              "orderId": 4,
                              "clientOrderId": "r3EH2N76dHfLoSZWIUw1bT"
                            },
                            {
                              "symbol": "LTCBTC",
                              "orderId": 5,
                              "clientOrderId": "Cv1SnyPD3qhqpbjpYEHbd2"
                            }
                          ]
                        }
                      }
                    },
                    "required": [
                      "orderListId",
                      "contingencyType",
                      "listStatusType",
                      "listOrderStatus",
                      "listClientOrderId",
                      "transactionTime",
                      "symbol",
                      "orders"
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/sor/order": {
      "post": {
        "summary": "New order using SOR (TRADE)",
        "description": "Weight(IP): 6",
        "tags": [
          "Trade"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/symbol"
          },
          {
            "$ref": "#/components/parameters/side"
          },
          {
            "$ref": "#/components/parameters/orderType"
          },
          {
            "$ref": "#/components/parameters/timeInForce"
          },
          {
            "$ref": "#/components/parameters/quantity"
          },
          {
            "name": "price",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "$ref": "#/components/parameters/newClientOrderId"
          },
          {
            "$ref": "#/components/parameters/strategyId"
          },
          {
            "$ref": "#/components/parameters/strategyType"
          },
          {
            "$ref": "#/components/parameters/icebergQty"
          },
          {
            "$ref": "#/components/parameters/newOrderRespType"
          },
          {
            "$ref": "#/components/parameters/selfTradePreventionMode"
          },
          {
            "$ref": "#/components/parameters/recvWindow"
          },
          {
            "$ref": "#/components/parameters/timestamp"
          },
          {
            "$ref": "#/components/parameters/signature"
          }
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "New order details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "symbol": {
                      "type": "string",
                      "example": "BTCUSDT"
                    },
                    "orderId": {
                      "type": "integer",
                      "format": "int64",
                      "example": 2
                    },
                    "orderListId": {
                      "type": "integer",
                      "format": "int64",
                      "example": -1
                    },
                    "clientOrderId": {
                      "type": "string",
                      "example": "sBI1KM6nNtOfj5tccZSKly"
                    },
                    "transactTime": {
                      "type": "integer",
                      "format": "int64",
                      "example": 1689149087774
                    },
                    "price": {
                      "type": "string",
                      "example": "31000.00000000"
                    },
                    "origQty": {
                      "type": "string",
                      "example": "0.50000000"
                    },
                    "executedQty": {
                      "type": "string",
                      "example": "0.50000000"
                    },
                    "cummulativeQuoteQty": {
                      "type": "string",
                      "example": "14000.00000000"
                    },
                    "status": {
                      "type": "string",
                      "example": "FILLED"
                    },
                    "timeInForce": {
                      "type": "string",
                      "example": "GTC"
                    },
                    "type": {
                      "type": "string",
                      "example": "LIMIT"
                    },
                    "side": {
                      "type": "string",
                      "example": "BUY"
                    },
                    "workingTime": {
                      "type": "integer",
                      "format": "int64",
                      "example": 1689149087774
                    },
                    "fills": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "matchType": {
                            "type": "string",
                            "example": "ONE_PARTY_TRADE_REPORT"
                          },
                          "price": {
                            "type": "string",
                            "example": "28000.00000000"
                          },
                          "qty": {
                            "type": "string",
                            "example": "0.50000000"
                          },
                          "commission": {
                            "type": "string",
                            "example": "0.00000000"
                          },
                          "commissionAsset": {
                            "type": "string",
                            "example": "BTC"
                          },
                          "tradeId": {
                            "type": "integer",
                            "format": "int64",
                            "example": -1
                          },
                          "allocId": {
                            "type": "integer",
                            "format": "int64",
                            "example": 0
                          }
                        },
                        "required": [
                          "matchType",
                          "price",
                          "qty",
                          "commission",
                          "commissionAsset",
                          "tradeId",
                          "allocId"
                        ]
                      }
                    },
                    "workingFloor": {
                      "type": "string",
                      "example": "SOR"
                    },
                    "selfTradePreventionMode": {
                      "type": "string",
                      "example": "NONE"
                    },
                    "usedSor": {
                      "type": "boolean",
                      "example": true
                    }
                  },
                  "required": [
                    "symbol",
                    "orderId",
                    "orderListId",
                    "clientOrderId",
                    "transactTime",
                    "price",
                    "origQty",
                    "executedQty",
                    "cummulativeQuoteQty",
                    "status",
                    "timeInForce",
                    "type",
                    "side",
                    "workingTime",
                    "fills",
                    "workingFloor",
                    "selfTradePreventionMode",
                    "usedSor"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/sor/order/test": {
      "post": {
        "summary": "Test new order using SOR (TRADE)",
        "description": "Test new order creation and signature/recvWindow using smart order routing (SOR).\nCreates and validates a new order but does not send it into the matching engine.",
        "tags": [
          "Trade"
        ],
        "parameters": [
          {
[...]
