{
  "openapi": "3.0.1",
  "info": {
    "title": "Slack Web API",
    "description": "One way to interact with the Slack platform is its HTTP RPC-based Web API, a collection of methods requiring OAuth 2.0-based user, bot, or workspace tokens blessed with related OAuth scopes.",
    "contact": {
      "name": "Slack developer relations",
      "url": "https://api.slack.com/support"
    },
    "version": "1.7.0"
  },
  "externalDocs": {
    "description": "Learn more about the Slack Web API",
    "url": "https://api.slack.com/web"
  },
  "servers": [
    {
      "url": "https://slack.com/api"
    }
  ],
  "tags": [],
  "paths": {
    "/admin.apps.approve": {
      "post": {
        "tags": [
          "admin.apps",
          "admin"
        ],
        "description": "Approve an app for installation on a workspace.",
        "externalDocs": {
          "description": "API method documentation",
          "url": "https://api.slack.com/methods/admin.apps.approve"
        },
        "operationId": "admin_apps_approve",
        "parameters": [
          {
            "name": "token",
            "in": "header",
            "description": "Authentication token. Requires scope: `admin.apps:write`",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "properties": {
                  "app_id": {
                    "type": "string",
                    "description": "The id of the app to approve."
                  },
                  "request_id": {
                    "type": "string",
                    "description": "The id of the request to approve."
                  },
                  "team_id": {
                    "type": "string"
                  }
                }
              }
            },
            "application/json": {
              "schema": {
                "properties": {
                  "app_id": {
                    "type": "string",
                    "description": "The id of the app to approve."
                  },
                  "request_id": {
                    "type": "string",
                    "description": "The id of the request to approve."
                  },
                  "team_id": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Typical success response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Default success template",
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  },
                  "description": "This method either only returns a brief _OK_ response or a verbose schema is not available for this method."
                },
                "example": {
                  "ok": true
                }
              }
            }
          },
          "default": {
            "description": "Typical error response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Default error template",
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  },
                  "description": "This method either only returns a brief _not OK_ response or a verbose schema is not available for this method."
                },
                "example": {
                  "error": "invalid_auth",
                  "ok": false
                }
              }
            }
          }
        },
        "security": [
          {
            "slackAuth": [
              "admin.apps:write"
            ]
          }
        ]
      }
    },
    "/admin.apps.approved.list": {
      "get": {
        "tags": [
          "admin.apps.approved",
          "admin"
        ],
        "description": "List approved apps for an org or workspace.",
        "externalDocs": {
          "description": "API method documentation",
          "url": "https://api.slack.com/methods/admin.apps.approved.list"
        },
        "operationId": "admin_apps_approved_list",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "description": "Authentication token. Requires scope: `admin.apps:read`",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of items to return. Must be between 1 - 1000 both inclusive.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Set `cursor` to `next_cursor` returned by the previous call to list items in the next page",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "team_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "enterprise_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Typical success response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Default success template",
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  },
                  "description": "This method either only returns a brief _OK_ response or a verbose schema is not available for this method."
                },
                "example": {
                  "approved_apps": [
                    {
                      "app": {
                        "additional_info": "",
                        "app_directory_url": "https://myteam.enterprise.slack.com/apps/A0W7UKG8E-my-test-app",
                        "app_homepage_url": "https://www.slack.com",
                        "description": "test app",
                        "help_url": "https://www.slack.com",
                        "icons": {
                          "image_1024": "https://3026743124446w96_2bd4ea1ad1f89a23c242_1024.png",
                          "image_128": "https://30267341249446w6_2bd4ea1ad1f89a23c242_128.png",
                          "image_192": "https://30267431249446w6_2bd4ea1ad1f89a23c242_192.png",
                          "image_32": "https://302674312496446w_2bd4ea1ad1f89a23c242_32.png",
                          "image_36": "https://302674312496446w_2bd4ea1ad1f89a23c242_36.png",
                          "image_48": "https://302674312496446w_2bd4ea1ad1f89a23c242_48.png",
                          "image_512": "https://30267431249446w6_2bd4ea1ad1f89a23c242_512.png",
                          "image_64": "https://302674312496446w_2bd4ea1ad1f89a23c242_64.png",
                          "image_72": "https://302674312496446w_2bd4ea1ad1f89a23c242_72.png",
                          "image_96": "https://302674312496446w_2bd4ea1ad1f89a23c242_96.png",
                          "image_original": "https://302674446w12496_2bd4ea1ad1f89a23c242_original.png"
                        },
                        "id": "A0W7UKG8E",
                        "is_app_directory_approved": false,
                        "is_internal": false,
                        "name": "My Test App",
                        "privacy_policy_url": "https://www.slack.com"
                      },
                      "date_updated": 1574296707,
                      "last_resolved_by": {
                        "actor_id": "W0G82F4FD",
                        "actor_type": "user"
                      },
                      "scopes": [
                        {
                          "description": "Add the ability for people to direct message or mention @my_test_app",
                          "is_sensitive": true,
                          "name": "bot",
                          "token_type": "bot"
                        }
                      ]
                    }
                  ],
                  "ok": true,
                  "response_metadata": {
                    "next_cursor": ""
                  }
                }
              }
            }
          },
          "default": {
            "description": "Typical error response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Default error template",
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  },
                  "description": "This method either only returns a brief _not OK_ response or a verbose schema is not available for this method."
                },
                "example": {
                  "error": "invalid_auth",
                  "ok": false
                }
              }
            }
          }
        },
        "security": [
          {
            "slackAuth": [
              "admin.apps:read"
            ]
          }
        ]
      }
    },
    "/admin.apps.requests.list": {
      "get": {
        "tags": [
          "admin.apps.requests",
          "admin"
        ],
        "description": "List app requests for a team/workspace.",
        "externalDocs": {
          "description": "API method documentation",
          "url": "https://api.slack.com/methods/admin.apps.requests.list"
        },
        "operationId": "admin_apps_requests_list",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "description": "Authentication token. Requires scope: `admin.apps:read`",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of items to return. Must be between 1 - 1000 both inclusive.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Set `cursor` to `next_cursor` returned by the previous call to list items in the next page",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "team_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Typical success response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Default success template",
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  },
                  "description": "This method either only returns a brief _OK_ response or a verbose schema is not available for this method."
                },
                "example": {
                  "app_requests": [
                    {
                      "app": {
                        "additional_info": "",
                        "app_directory_url": "https://acmecorp.slack.com/apps/A061BL8RQ0-test-app",
                        "app_homepage_url": "",
                        "description": "",
                        "help_url": "",
                        "icons": {
                          "image_1024": "/cdn/15258203/img/testapp/service_1024.png",
                          "image_128": "/cdn/157258203/img/testapp/service_128.png",
                          "image_192": "/cdn/157258203/img/testapp/service_192.png",
                          "image_32": "/cdn/157658203/img/testapp/service_32.png",
                          "image_36": "/cdn/157658203/img/testapp/service_36.png",
                          "image_48": "/cdn/157658203/img/testapp/service_48.png",
                          "image_512": "/cdn/15758203/img/testapp/service_512.png",
                          "image_64": "/cdn/157658203/img/testapp/service_64.png",
                          "image_72": "/cdn/157658203/img/testapp/service_72.png",
                          "image_96": "/cdn/157658203/img/testapp/service_96.png"
                        },
                        "id": "A061BL8RQ0",
                        "is_app_directory_approved": true,
                        "is_internal": false,
                        "name": "Test App",
                        "privacy_policy_url": "https://testapp.com/privacy"
                      },
                      "date_created": 1578956327,
                      "id": "Ar0XJGFLMLS",
                      "message": "test test again",
                      "scopes": [
                        {
                          "description": "Post messages to specific channels in Slack",
                          "is_sensitive": false,
                          "name": "incoming-webhook",
                          "token_type": "user"
                        }
                      ],
                      "team": {
                        "domain": "acmecorp",
                        "id": "T0M94LNUCR",
                        "name": "Acme Corp"
                      },
                      "user": {
                        "email": "janedoe@example.com",
                        "id": "W08RA9G5HR",
                        "name": "Jane Doe"
                      }
                    }
                  ],
                  "ok": true,
                  "response_metadata": {
                    "next_cursor": ""
                  }
                }
              }
            }
          },
          "default": {
            "description": "Typical error response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Default error template",
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  },
                  "description": "This method either only returns a brief _not OK_ response or a verbose schema is not available for this method."
                },
                "example": {
                  "error": "missing_scope",
                  "needed": "admin.apps:read",
                  "ok": false,
                  "provided": "read,client,admin,identify,post,apps"
                }
              }
            }
          }
        },
        "security": [
          {
            "slackAuth": [
              "admin.apps:read"
            ]
          }
        ]
      }
    },
    "/admin.apps.restrict": {
      "post": {
        "tags": [
          "admin.apps",
          "admin"
        ],
        "description": "Restrict an app for installation on a workspace.",
        "externalDocs": {
          "description": "API method documentation",
          "url": "https://api.slack.com/methods/admin.apps.restrict"
        },
        "operationId": "admin_apps_restrict",
        "parameters": [
          {
            "name": "token",
            "in": "header",
            "description": "Authentication token. Requires scope: `admin.apps:write`",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "properties": {
                  "app_id": {
                    "type": "string",
                    "description": "The id of the app to restrict."
                  },
                  "request_id": {
                    "type": "string",
                    "description": "The id of the request to restrict."
                  },
                  "team_id": {
                    "type": "string"
                  }
                }
              }
            },
            "application/json": {
              "schema": {
                "properties": {
                  "app_id": {
                    "type": "string",
                    "description": "The id of the app to restrict."
                  },
                  "request_id": {
                    "type": "string",
                    "description": "The id of the request to restrict."
                  },
                  "team_id": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Typical success response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Default success template",
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  },
                  "description": "This method either only returns a brief _OK_ response or a verbose schema is not available for this method."
                },
                "example": {
                  "ok": true
                }
              }
            }
          },
          "default": {
            "description": "Typical error response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Default error template",
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  },
                  "description": "This method either only returns a brief _not OK_ response or a verbose schema is not available for this method."
                },
                "example": {
                  "error": "invalid_auth",
                  "ok": false
                }
              }
            }
          }
        },
        "security": [
          {
            "slackAuth": [
              "admin.apps:write"
            ]
          }
        ]
      }
    },
    "/admin.apps.restricted.list": {
      "get": {
        "tags": [
          "admin.apps.restricted",
          "admin"
        ],
        "description": "List restricted apps for an org or workspace.",
        "externalDocs": {
          "description": "API method documentation",
          "url": "https://api.slack.com/methods/admin.apps.restricted.list"
        },
        "operationId": "admin_apps_restricted_list",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "description": "Authentication token. Requires scope: `admin.apps:read`",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of items to return. Must be between 1 - 1000 both inclusive.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Set `cursor` to `next_cursor` returned by the previous call to list items in the next page",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "team_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "enterprise_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Typical success response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Default success template",
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  },
                  "description": "This method either only returns a brief _OK_ response or a verbose schema is not available for this method."
                },
                "example": {
                  "ok": true,
                  "response_metadata": {
                    "next_cursor": ""
                  },
                  "restricted_apps": [
                    {
                      "app": {
                        "additional_info": "",
                        "app_directory_url": "https://myteam.enterprise.slack.com/apps/A0FDLP8M2L-my-test-app",
                        "app_homepage_url": "https://example.com",
                        "description": "A fun test app for Slack",
                        "help_url": "https://example.com",
                        "icons": {
                          "image_1024": "https://1433265338rl878408_eb57dbc818daa4ba15d6_1024.png",
                          "image_128": "https://4332653438rl87808_eb57dbc818daa4ba15d6_128.png",
                          "image_192": "https://4332653438rl87808_eb57dbc818daa4ba15d6_192.png",
                          "image_32": "https://143326534038rl8788_eb57dbc818daa4ba15d6_32.png",
                          "image_36": "https://143326534038rl8788_eb57dbc818daa4ba15d6_36.png",
                          "image_48": "https://143326534038rl8788_eb57dbc818daa4ba15d6_48.png",
                          "image_512": "https://4332653438rl87808_eb57dbc818daa4ba15d6_512.png",
                          "image_64": "https://143326534038rl8788_eb57dbc818daa4ba15d6_64.png",
                          "image_72": "https://143326534038rl8788_eb57dbc818daa4ba15d6_72.png",
                          "image_96": "https://143326534038rl8788_eb57dbc818daa4ba15d6_96.png",
                          "image_original": "https://143338rl8782653408_eb57dbc818daa4ba15d6_original.png"
                        },
                        "id": "A0FDLP8M2L",
                        "is_app_directory_approved": true,
                        "is_internal": false,
                        "name": "My Test App",
                        "privacy_policy_url": "https://example.com"
                      },
                      "date_updated": 1574296721,
                      "last_resolved_by": {
                        "actor_id": "W0G82LMFD",
                        "actor_type": "user"
                      },
                      "scopes": [
                        {
                          "description": "Upload, edit, and delete files on the user‟s behalf",
                          "is_sensitive": true,
                          "name": "files:write:user",
                          "token_type": "user"
                        }
                      ]
                    }
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Typical error response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Default error template",
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  },
                  "description": "This method either only returns a brief _not OK_ response or a verbose schema is not available for this method."
                },
                "example": {
                  "error": "invalid_auth",
                  "ok": false
                }
              }
            }
          }
        },
        "security": [
          {
            "slackAuth": [
              "admin.apps:read"
            ]
          }
        ]
      }
    },
    "/admin.conversations.archive": {
      "post": {
        "tags": [
          "admin.conversations",
          "admin"
        ],
        "description": "Archive a public or private channel.",
        "externalDocs": {
          "description": "API method documentation",
          "url": "https://api.slack.com/methods/admin.conversations.archive"
        },
        "operationId": "admin_conversations_archive",
        "parameters": [
          {
            "name": "token",
            "in": "header",
            "description": "Authentication token. Requires scope: `admin.conversations:write`",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "required": [
                  "channel_id"
                ],
                "properties": {
                  "channel_id": {
                    "type": "string",
                    "description": "The channel to archive."
                  }
                }
              }
            },
            "application/json": {
              "schema": {
                "required": [
                  "channel_id"
                ],
                "properties": {
                  "channel_id": {
                    "type": "string",
                    "description": "The channel to archive."
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Typical success response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "admin.conversations.archive schema",
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  },
                  "description": "Schema for successful response of admin.conversations.archive"
                },
                "example": {
                  "ok": true
                }
              }
            }
          },
          "default": {
            "description": "Typical error response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "admin.conversations.archive error schema",
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  },
                  "description": "Schema for error response from admin.conversations.archive"
                },
                "example": {
                  "error": "invalid_auth",
                  "ok": false
                }
              }
            }
          }
        },
        "security": [
          {
            "slackAuth": [
              "admin.conversations:write"
            ]
          }
        ]
      }
    },
    "/admin.conversations.convertToPrivate": {
      "post": {
        "tags": [
          "admin.conversations",
          "admin"
        ],
        "description": "Convert a public channel to a private channel.",
        "externalDocs": {
          "description": "API method documentation",
          "url": "https://api.slack.com/methods/admin.conversations.convertToPrivate"
        },
        "operationId": "admin_conversations_convertToPrivate",
        "parameters": [
          {
            "name": "token",
            "in": "header",
            "description": "Authentication token. Requires scope: `admin.conversations:write`",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "required": [
                  "channel_id"
                ],
                "properties": {
                  "channel_id": {
                    "type": "string",
                    "description": "The channel to convert to private."
                  }
                }
              }
            },
            "application/json": {
              "schema": {
                "required": [
                  "channel_id"
                ],
                "properties": {
                  "channel_id": {
                    "type": "string",
                    "description": "The channel to convert to private."
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Typical success response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "admin.conversations.convertToPrivate schema",
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  },
                  "description": "Schema for successful response of admin.conversations.convertToPrivate"
                },
                "example": {
                  "ok": true
                }
              }
            }
          },
          "default": {
            "description": "Typical error response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "admin.conversations.convertToPrivate error schema",
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  },
                  "description": "Schema for error response from admin.conversations.convertToPrivate"
                },
                "example": {
                  "error": "invalid_auth",
                  "ok": false
                }
              }
            }
          }
        },
        "security": [
          {
            "slackAuth": [
              "admin.conversations:write"
            ]
          }
        ]
      }
    },
    "/admin.conversations.create": {
      "post": {
        "tags": [
          "admin.conversations",
          "admin"
        ],
        "description": "Create a public or private channel-based conversation.",
        "externalDocs": {
          "description": "API method documentation",
          "url": "https://api.slack.com/methods/admin.conversations.create"
        },
        "operationId": "admin_conversations_create",
        "parameters": [
          {
            "name": "token",
            "in": "header",
            "description": "Authentication token. Requires scope: `admin.conversations:write`",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "required": [
                  "is_private",
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Name of the public or private channel to create."
                  },
                  "description": {
                    "type": "string",
                    "description": "Description of the public or private channel to create."
                  },
                  "is_private": {
                    "type": "boolean",
                    "description": "When `true`, creates a private channel instead of a public channel"
                  },
                  "org_wide": {
                    "type": "boolean",
                    "description": "When `true`, the channel will be available org-wide. Note: if the channel is not `org_wide=true`, you must specify a `team_id` for this channel"
                  },
                  "team_id": {
                    "type": "string",
                    "description": "The workspace to create the channel in. Note: this argument is required unless you set `org_wide=true`."
                  }
                }
              }
            },
            "application/json": {
              "schema": {
                "required": [
                  "is_private",
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Name of the public or private channel to create."
                  },
                  "description": {
                    "type": "string",
                    "description": "Description of the public or private channel to create."
                  },
                  "is_private": {
                    "type": "boolean",
                    "description": "When `true`, creates a private channel instead of a public channel"
                  },
                  "org_wide": {
                    "type": "boolean",
                    "description": "When `true`, the channel will be available org-wide. Note: if the channel is not `org_wide=true`, you must specify a `team_id` for this channel"
                  },
                  "team_id": {
                    "type": "string",
                    "description": "The workspace to create the channel in. Note: this argument is required unless you set `org_wide=true`."
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Typical success response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "admin.conversations.create schema",
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  },
                  "description": "Schema for successful response of admin.conversations.create"
                },
                "example": {
                  "channel_id": "C12345",
                  "ok": true
                }
              }
            }
          },
          "default": {
            "description": "Typical error response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "admin.conversations.create error schema",
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  },
                  "description": "Schema for error response from admin.conversations.create"
                },
                "example": {
                  "error": "invalid_auth",
                  "ok": false
                }
              }
            }
          }
        },
        "security": [
          {
            "slackAuth": [
              "admin.conversations:write"
            ]
          }
        ]
      }
    },
    "/admin.conversations.delete": {
      "post": {
        "tags": [
          "admin.conversations",
          "admin"
        ],
        "description": "Delete a public or private channel.",
        "externalDocs": {
          "description": "API method documentation",
          "url": "https://api.slack.com/methods/admin.conversations.delete"
        },
        "operationId": "admin_conversations_delete",
        "parameters": [
          {
            "name": "token",
            "in": "header",
            "description": "Authentication token. Requires scope: `admin.conversations:write`",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "required": [
                  "channel_id"
                ],
                "properties": {
                  "channel_id": {
                    "type": "string",
                    "description": "The channel to delete."
                  }
                }
              }
            },
            "application/json": {
              "schema": {
                "required": [
                  "channel_id"
                ],
                "properties": {
                  "channel_id": {
                    "type": "string",
                    "description": "The channel to delete."
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Typical success response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "admin.conversations.delete schema",
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  },
                  "description": "Schema for successful response of admin.conversations.delete"
                },
                "example": {
                  "ok": true
                }
              }
            }
          },
          "default": {
            "description": "Typical error response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "admin.conversations.delete error schema",
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  },
                  "description": "Schema for error response from admin.conversations.delete"
                },
                "example": {
                  "error": "invalid_auth",
                  "ok": false
                }
              }
            }
          }
        },
        "security": [
          {
            "slackAuth": [
              "admin.conversations:write"
            ]
          }
        ]
      }
    },
    "/admin.conversations.disconnectShared": {
      "post": {
        "tags": [
          "admin.conversations",
          "admin"
        ],
        "description": "Disconnect a connected channel from one or more workspaces.",
        "externalDocs": {
          "description": "API method documentation",
          "url": "https://api.slack.com/methods/admin.conversations.disconnectShared"
        },
        "operationId": "admin_conversations_disconnectShared",
        "parameters": [
          {
            "name": "token",
            "in": "header",
            "description": "Authentication token. Requires scope: `admin.conversations:write`",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "required": [
                  "channel_id"
                ],
                "properties": {
                  "channel_id": {
                    "type": "string",
                    "description": "The channel to be disconnected from some workspaces."
                  },
                  "leaving_team_ids": {
                    "type": "string",
                    "description": "The team to be removed from the channel. Currently only a single team id can be specified."
                  }
                }
              }
            },
            "application/json": {
              "schema": {
                "required": [
                  "channel_id"
                ],
                "properties": {
                  "channel_id": {
                    "type": "string",
                    "description": "The channel to be disconnected from some workspaces."
                  },
                  "leaving_team_ids": {
                    "type": "string",
                    "description": "The team to be removed from the channel. Currently only a single team id can be specified."
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Typical success response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "admin.conversations.rename schema",
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  },
                  "description": "Schema for successful response of admin.conversations.disconnectShared"
                },
                "example": {
                  "ok": true
                }
              }
            }
          },
          "default": {
            "description": "Typical error response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "admin.conversations.disconnectShared error schema",
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  },
                  "description": "Schema for error response from admin.conversations.disconnectShared"
                },
                "example": {
                  "error": "invalid_auth",
                  "ok": false
                }
              }
            }
          }
        },
        "security": [
          {
            "slackAuth": [
              "admin.conversations:write"
            ]
          }
        ]
      }
    },
    "/admin.conversations.ekm.listOriginalConnectedChannelInfo": {
      "get": {
        "tags": [
          "admin.conversations.ekm",
          "admin"
        ],
        "description": "List all disconnected channels—i.e., channels that were once connected to other workspaces and then disconnected—and the corresponding original channel IDs for key revocation with EKM.",
        "externalDocs": {
          "description": "API method documentation",
          "url": "https://api.slack.com/methods/admin.conversations.ekm.listOriginalConnectedChannelInfo"
        },
        "operationId": "admin_conversations_ekm_listOriginalConnectedChannelInfo",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "description": "Authentication token. Requires scope: `admin.conversations:read`",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "channel_ids",
            "in": "query",
            "description": "A comma-separated list of channels to filter to.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "team_ids",
            "in": "query",
            "description": "A comma-separated list of the workspaces to which the channels you would like returned belong.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of items to return. Must be between 1 - 1000 both inclusive.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Set `cursor` to `next_cursor` returned by the previous call to list items in the next page.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Typical success response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Default success template",
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  },
                  "description": "This method either only returns a brief _OK_ response or a verbose schema is not available for this method."
                },
                "example": {
                  "channels": [
                    {
                      "id": "string",
                      "internal_team_ids": "array",
                      "original_connected_channel_id": "string",
                      "original_connected_host_id": "string"
                    }
                  ],
                  "ok": true
                }
              }
            }
          },
          "default": {
            "description": "Typical error response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Default error template",
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  },
                  "description": "This method either only returns a brief _not OK_ response or a verbose schema is not available for this method."
                },
                "example": {
                  "error": "invalid_auth",
                  "ok": false
                }
              }
            }
          }
        },
        "security": [
          {
            "slackAuth": [
              "admin.conversations:read"
            ]
          }
        ]
      }
    },
    "/admin.conversations.getConversationPrefs": {
      "get": {
        "tags": [
          "admin.conversations",
          "admin"
        ],
        "description": "Get conversation preferences for a public or private channel.",
        "externalDocs": {
          "description": "API method documentation",
          "url": "https://api.slack.com/methods/admin.conversations.getConversationPrefs"
        },
        "operationId": "admin_conversations_getConversationPrefs",
        "parameters": [
          {
            "name": "token",
            "in": "header",
            "description": "Authentication token. Requires scope: `admin.conversations:read`",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "channel_id",
            "in": "query",
            "description": "The channel to get preferences for.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Typical success response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "admin.conversations.getConversationPrefs schema",
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  },
                  "description": "Schema for successful response of admin.conversations.getConversationPrefs"
                },
                "example": {
                  "ok": true
                }
              }
            }
          },
          "default": {
            "description": "Typical error response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "admin.conversations.unarchive error schema",
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  },
                  "description": "Schema for error response from admin.conversations.getConversationPrefs"
                },
                "example": {
                  "error": "invalid_auth",
                  "ok": false
                }
              }
            }
          }
        },
        "security": [
          {
            "slackAuth": [
              "admin.conversations:read"
            ]
          }
        ]
      }
    },
    "/admin.conversations.getTeams": {
      "get": {
        "tags": [
          "admin.conversations",
          "admin"
        ],
        "description": "Get all the workspaces a given public or private channel is connected to within this Enterprise org.",
        "externalDocs": {
          "description": "API method documentation",
          "url": "https://api.slack.com/methods/admin.conversations.getTeams"
        },
        "operationId": "admin_conversations_getTeams",
        "parameters": [
          {
            "name": "token",
            "in": "header",
            "description": "Authentication token. Requires scope: `admin.conversations:read`",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "channel_id",
            "in": "query",
            "description": "The channel to determine connected workspaces within the organization for.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Set `cursor` to `next_cursor` returned by the previous call to list items in the next page",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of items to return. Must be between 1 - 1000 both inclusive.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Typical success response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "admin.conversations.getTeams schema",
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  },
                  "description": "Schema for successful response of admin.conversations.getTeams"
                },
                "example": {
                  "ok": true,
                  "teams": [
                    "T1234",
                    "T5678"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Typical error response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "admin.conversations.getTeams error schema",
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  },
                  "description": "Schema for error response from admin.conversations.getTeams"
                },
                "example": {
                  "error": "invalid_auth",
                  "ok": false
                }
              }
            }
          }
        },
        "security": [
          {
            "slackAuth": [
              "admin.conversations:read"
            ]
          }
        ]
      }
    },
    "/admin.conversations.invite": {
      "post": {
        "tags": [
          "admin.conversations",
          "admin"
        ],
        "description": "Invite a user to a public or private channel.",
        "externalDocs": {
          "description": "API method documentation",
          "url": "https://api.slack.com/methods/admin.conversations.invite"
        },
        "operationId": "admin_conversations_invite",
        "parameters": [
          {
            "name": "token",
            "in": "header",
            "description": "Authentication token. Requires scope: `admin.conversations:write`",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "required": [
                  "channel_id",
                  "user_ids"
                ],
                "properties": {
                  "user_ids": {
                    "type": "string",
                    "description": "The users to invite."
                  },
                  "channel_id": {
                    "type": "string",
                    "description": "The channel that the users will be invited to."
                  }
                }
              }
            },
            "application/json": {
              "schema": {
                "required": [
                  "channel_id",
                  "user_ids"
                ],
                "properties": {
                  "user_ids": {
                    "type": "string",
                    "description": "The users to invite."
                  },
                  "channel_id": {
                    "type": "string",
                    "description": "The channel that the users will be invited to."
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Typical success response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "admin.conversations.invite schema",
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  },
                  "description": "Schema for successful response of admin.conversations.invite"
                },
                "example": {
                  "ok": true
                }
              }
            }
          },
          "default": {
            "description": "Typical error response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "admin.conversations.invite error schema",
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  },
                  "description": "Schema for error response from admin.conversations.invite"
                },
                "example": {
                  "error": "invalid_auth",
                  "ok": false
                }
              }
            }
          }
        },
        "security": [
          {
            "slackAuth": [
              "admin.conversations:write"
            ]
          }
        ]
      }
    },
    "/admin.conversations.rename": {
      "post": {
        "tags": [
          "admin.conversations",
          "admin"
        ],
        "description": "Rename a public or private channel.",
        "externalDocs": {
          "description": "API method documentation",
          "url": "https://api.slack.com/methods/admin.conversations.rename"
        },
        "operationId": "admin_conversations_rename",
        "parameters": [
          {
            "name": "token",
            "in": "header",
            "description": "Authentication token. Requires scope: `admin.conversations:write`",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "required": [
                  "channel_id",
                  "name"
                ],
                "properties": {
                  "channel_id": {
                    "type": "string",
                    "description": "The channel to rename."
                  },
                  "name": {
                    "type": "string"
                  }
                }
              }
            },
            "application/json": {
              "schema": {
                "required": [
                  "channel_id",
                  "name"
                ],
                "properties": {
                  "channel_id": {
                    "type": "string",
                    "description": "The channel to rename."
                  },
                  "name": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Typical success response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "admin.conversations.rename schema",
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  },
                  "description": "Schema for successful response of admin.conversations.rename"
                },
                "example": {
                  "ok": true
                }
              }
            }
          },
          "default": {
            "description": "Typical error response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "admin.conversations.unarchive error schema",
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  },
                  "description": "Schema for error response from admin.conversations.rename"
                },
                "example": {
                  "error": "invalid_auth",
                  "ok": false
                }
              }
            }
          }
        },
        "security": [
          {
            "slackAuth": [
              "admin.conversations:write"
            ]
          }
        ]
      }
    },
    "/admin.conversations.restrictAccess.addGroup": {
      "post": {
        "tags": [
          "admin.conversations.restrictAccess",
          "admin"
        ],
        "description": "Add an allowlist of IDP groups for accessing a channel",
        "externalDocs": {
          "description": "API method documentation",
          "url": "https://api.slack.com/methods/admin.conversations.restrictAccess.addGroup"
        },
        "operationId": "admin_conversations_restrictAccess_addGroup",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "required": [
                  "channel_id",
                  "group_id",
                  "token"
                ],
                "properties": {
                  "token": {
                    "type": "string",
                    "description": "Authentication token. Requires scope: `admin.conversations:write`"
                  },
                  "team_id": {
                    "type": "string",
                    "description": "The workspace where the channel exists. This argument is required for channels only tied to one workspace, and optional for channels that are shared across an organization."
                  },
                  "group_id": {
                    "type": "string",
                    "description": "The [IDP Group](https://slack.com/help/articles/115001435788-Connect-identity-provider-groups-to-your-Enterprise-Grid-org) ID to be an allowlist for the private channel."
                  },
                  "channel_id": {
                    "type": "string",
                    "description": "The channel to link this group to."
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Typical success response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Default success template",
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  },
                  "description": "This method either only returns a brief _OK_ response or a verbose schema is not available for this method."
                },
                "example": {
                  "ok": true
                }
              }
            }
          },
          "default": {
            "description": "Typical error response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Default error template",
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  },
                  "description": "This method either only returns a brief _not OK_ response or a verbose schema is not available for this method."
                },
                "example": {
                  "error": "invalid_auth",
                  "ok": false
                }
              }
            }
          }
        },
        "security": [
          {
            "slackAuth": [
              "admin.conversations:write"
            ]
          }
        ]
      }
    },
    "/admin.conversations.restrictAccess.listGroups": {
      "get": {
        "tags": [
          "admin.conversations.restrictAccess",
          "admin"
        ],
        "description": "List all IDP Groups linked to a channel",
        "externalDocs": {
          "description": "API method documentation",
          "url": "https://api.slack.com/methods/admin.conversations.restrictAccess.listGroups"
        },
        "operationId": "admin_conversations_restrictAccess_listGroups",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "description": "Authentication token. Requires scope: `admin.conversations:read`",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "channel_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "team_id",
            "in": "query",
            "description": "The workspace where the channel exists. This argument is required for channels only tied to one workspace, and optional for channels that are shared across an organization.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Typical success response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Default success template",
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  },
                  "description": "This method either only returns a brief _OK_ response or a verbose schema is not available for this method."
                },
                "example": {
                  "group_ids": [
                    "YOUR_GROUP_ID"
                  ],
                  "ok": true
                }
              }
            }
          },
          "default": {
            "description": "Typical error response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Default error template",
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  },
                  "description": "This method either only returns a brief _not OK_ response or a verbose schema is not available for this method."
                },
                "example": {
                  "error": "invalid_auth",
                  "ok": false
                }
              }
            }
          }
        },
        "security": [
          {
            "slackAuth": [
              "admin.conversations:read"
            ]
          }
        ]
      }
    },
    "/admin.conversations.restrictAccess.removeGroup": {
      "post": {
        "tags": [
          "admin.conversations.restrictAccess",
          "admin"
        ],
        "description": "Remove a linked IDP group linked from a private channel",
        "externalDocs": {
          "description": "API method documentation",
          "url": "https://api.slack.com/methods/admin.conversations.restrictAccess.removeGroup"
        },
        "operationId": "admin_conversations_restrictAccess_removeGroup",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "required": [
                  "channel_id",
                  "group_id",
                  "team_id",
                  "token"
                ],
                "properties": {
                  "token": {
                    "type": "string",
                    "description": "Authentication token. Requires scope: `admin.conversations:write`"
                  },
                  "team_id": {
                    "type": "string",
                    "description": "The workspace where the channel exists. This argument is required for channels only tied to one workspace, and optional for channels that are shared across an organization."
                  },
                  "group_id": {
                    "type": "string",
                    "description": "The [IDP Group](https://slack.com/help/articles/115001435788-Connect-identity-provider-groups-to-your-Enterprise-Grid-org) ID to remove from the private channel."
                  },
                  "channel_id": {
                    "type": "string",
                    "description": "The channel to remove the linked group from."
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Typical success response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Default success template",
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  },
                  "description": "This method either only returns a brief _OK_ response or a verbose schema is not available for this method."
                },
                "example": {
                  "ok": true
                }
              }
            }
          },
          "default": {
            "description": "Typical error response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Default error template",
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  },
                  "description": "This method either only returns a brief _not OK_ response or a verbose schema is not available for this method."
                },
                "example": {
                  "error": "invalid_auth",
                  "ok": false
                }
              }
            }
          }
        },
        "security": [
          {
            "slackAuth": [
              "admin.conversations:write"
            ]
          }
        ]
      }
    },
    "/admin.conversations.search": {
      "get": {
        "tags": [
          "admin.conversations",
          "admin"
        ],
        "description": "Search for public or private channels in an Enterprise organization.",
        "externalDocs": {
          "description": "API method documentation",
          "url": "https://api.slack.com/methods/admin.conversations.search"
        },
        "operationId": "admin_conversations_search",
        "parameters": [
          {
            "name": "token",
            "in": "header",
            "description": "Authentication token. Requires scope: `admin.conversations:read`",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "team_ids",
            "in": "query",
            "description": "Comma separated string of team IDs, signifying the workspaces to search through.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "query",
            "in": "query",
            "description": "Name of the the channel to query by.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of items to be returned. Must be between 1 - 20 both inclusive. Default is 10.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Set `cursor` to `next_cursor` returned by the previous call to list items in the next page.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search_channel_types",
            "in": "query",
            "description": "The type of channel to include or exclude in the search. For example `private` will search private channels, while `private_exclude` will exclude them. For a full list of types, check the [Types section](#types).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Possible values are `relevant` (search ranking based on what we think is closest), `name` (alphabetical), `member_count` (number of users in the channel), and `created` (date channel was created). You can optionally pair this with the `sort_dir` arg to change how it is sorted ",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort_dir",
            "in": "query",
            "description": "Sort direction. Possible values are `asc` for ascending order like (1, 2, 3) or (a, b, c), and `desc` for descending order like (3, 2, 1) or (c, b, a)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Typical success response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "admin.conversations.search schema",
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  },
                  "description": "Schema for successful response of admin.conversations.search"
                },
                "example": {
                  "channels": [
                    {
                      "created": 1449252889,
                      "creator": "U012A3CDE",
                      "id": "C012AB3CD",
                      "is_archived": false,
                      "is_channel": true,
                      "is_ext_shared": false,
                      "is_general": true,
                      "is_group": false,
                      "is_im": false,
                      "is_member": true,
                      "is_mpim": false,
                      "is_org_shared": false,
                      "is_pending_ext_shared": false,
                      "is_private": false,
                      "is_shared": false,
                      "name": "general",
                      "name_normalized": "general",
                      "num_members": 4,
                      "pending_shared": [],
                      "previous_names": [],
                      "purpose": {
                        "creator": "",
                        "last_set": 0,
                        "value": "This channel is for team-wide communication and announcements. All team members are in this channel."
                      },
                      "topic": {
                        "creator": "",
                        "last_set": 0,
                        "value": "Company-wide announcements and work-based matters"
                      },
                      "unlinked": 0
                    }
                  ],
                  "ok": true,
                  "response_metadata": {
                    "next_cursor": "dGVhbTpDMDYxRkE1UEI="
                  }
                }
              }
            }
          },
          "default": {
            "description": "Typical error response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "admin.conversations.search error schema",
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  },
                  "description": "Schema for error response from admin.conversations.search"
                },
                "example": {
                  "error": "not_an_enterprise",
                  "ok": false
                }
              }
            }
          }
        },
        "security": [
          {
            "slackAuth": [
              "admin.conversations:read"
            ]
          }
        ]
      }
    },
    "/admin.conversations.setConversationPrefs": {
      "post": {
        "tags": [
          "admin.conversations",
          "admin"
        ],
        "description": "Set the posting permissions for a public or private channel.",
        "externalDocs": {
          "description": "API method documentation",
          "url": "https://api.slack.com/methods/admin.conversations.setConversationPrefs"
        },
        "operationId": "admin_conversations_setConversationPrefs",
        "parameters": [
          {
            "name": "token",
            "in": "header",
            "description": "Authentication token. Requires scope: `admin.conversations:write`",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "required": [
                  "channel_id",
                  "prefs"
                ],
                "properties": {
                  "channel_id": {
                    "type": "string",
                    "description": "The channel to set the prefs for"
                  },
                  "prefs": {
                    "type": "string",
                    "description": "The prefs for this channel in a stringified JSON format."
                  }
                }
              }
            },
            "application/json": {
              "schema": {
                "required": [
                  "channel_id",
                  "prefs"
                ],
                "properties": {
                  "channel_id": {
                    "type": "string",
                    "description": "The channel to set the prefs for"
                  },
                  "prefs": {
                    "type": "string",
                    "description": "The prefs for this channel in a stringified JSON format."
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Typical success response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "admin.conversations.setConversationPrefs schema",
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  },
                  "description": "Schema for successful response of admin.conversations.setConversationPrefs"
                },
                "example": {
                  "ok": true
                }
              }
            }
          },
          "default": {
            "description": "Typical error response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "admin.conversations.setConversationPrefs error schema",
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  },
                  "description": "Schema for error response from admin.conversations.setConversationPrefs"
                },
                "example": {
                  "error": "invalid_auth",
                  "ok": false
                }
              }
            }
          }
        },
        "security": [
          {
            "slackAuth": [
              "admin.conversations:write"
            ]
          }
        ]
      }
    },
    "/admin.conversations.setTeams": {
      "post": {
        "tags": [
          "admin.conversations",
          "admin"
        ],
        "description": "Set the workspaces in an Enterprise grid org that connect to a public or private channel.",
        "externalDocs": {
          "description": "API method documentation",
          "url": "https://api.slack.com/methods/admin.conversations.setTeams"
        },
        "operationId": "admin_conversations_setTeams",
        "parameters": [
          {
            "name": "token",
            "in": "header",
            "description": "Authentication token. Requires scope: `admin.conversations:write`",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "required": [
                  "channel_id"
                ],
                "properties": {
                  "channel_id": {
                    "type": "string",
                    "description": "The encoded `channel_id` to add or remove to workspaces."
                  },
                  "team_id": {
                    "type": "string",
                    "description": "The workspace to which the channel belongs. Omit this argument if the channel is a cross-workspace shared channel."
                  },
                  "target_team_ids": {
                    "type": "string",
                    "description": "A comma-separated list of workspaces to which the channel should be shared. Not required if the channel is being shared org-wide."
                  },
                  "org_channel": {
                    "type": "boolean",
                    "description": "True if channel has to be converted to an org channel"
                  }
                }
              }
            },
            "application/json": {
              "schema": {
                "required": [
                  "channel_id"
                ],
                "properties": {
                  "channel_id": {
                    "type": "string",
                    "description": "The encoded `channel_id` to add or remove to workspaces."
                  },
                  "team_id": {
                    "type": "string",
                    "description": "The workspace to which the channel belongs. Omit this argument if the channel is a cross-workspace shared channel."
                  },
                  "target_team_ids": {
                    "type": "string",
                    "description": "A comma-separated list of workspaces to which the channel should be shared. Not required if the channel is being shared org-wide."
                  },
                  "org_channel": {
                    "type": "boolean",
                    "description": "True if channel has to be converted to an org channel"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Typical success response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Default success template",
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  },
                  "description": "This method either only returns a brief _OK_ response or a verbose schema is not available for this method."
                },
                "example": {
                  "ok": true
                }
              }
            }
          },
          "default": {
            "description": "Typical error response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Default error template",
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  },
                  "description": "This method either only returns a brief _not OK_ response or a verbose schema is not available for this method."
                },
                "example": {
                  "error": "invalid_auth",
                  "ok": false
                }
              }
            }
          }
        },
        "security": [
          {
            "slackAuth": [
              "admin.conversations:write"
            ]
          }
        ]
      }
    },
    "/admin.conversations.unarchive": {
      "post": {
        "tags": [
          "admin.conversations",
          "admin"
        ],
        "description": "Unarchive a public or private channel.",
        "externalDocs": {
          "description": "API method documentation",
          "url": "https://api.slack.com/methods/admin.conversations.unarchive"
        },
        "operationId": "admin_conversations_unarchive",
        "parameters": [
          {
            "name": "token",
            "in": "header",
            "description": "Authentication token. Requires scope: `admin.conversations:write`",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "required": [
                  "channel_id"
                ],
                "properties": {
                  "channel_id": {
                    "type": "string",
                    "description": "The channel to unarchive."
                  }
                }
              }
            },
            "application/json": {
              "schema": {
                "required": [
                  "channel_id"
                ],
                "properties": {
                  "channel_id": {
                    "type": "string",
                    "description": "The channel to unarchive."
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Typical success response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "admin.conversations.unarchive schema",
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  },
                  "description": "Schema for successful response of admin.conversations.unarchive"
                },
                "example": {
                  "ok": true
                }
              }
            }
          },
          "default": {
            "description": "Typical error response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "admin.conversations.unarchive error schema",
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  },
                  "description": "Schema for error response from admin.conversations.unarchive"
                },
                "example": {
                  "error": "invalid_auth",
                  "ok": false
                }
              }
            }
          }
        },
        "security": [
          {
            "slackAuth": [
              "admin.conversations:write"
            ]
          }
        ]
      }
    },
    "/admin.emoji.add": {
      "post": {
        "tags": [
          "admin.emoji",
          "admin"
        ],
        "description": "Add an emoji.",
        "externalDocs": {
          "description": "API method documentation",
          "url": "https://api.slack.com/methods/admin.emoji.add"
        },
        "operationId": "admin_emoji_add",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "required": [
                  "name",
                  "token",
                  "url"
                ],
                "properties": {
                  "token": {
                    "type": "string",
                    "description": "Authentication token. Requires scope: `admin.teams:write`"
                  },
                  "name": {
                    "type": "string",
                    "description": "The name of the emoji to be removed. Colons (`:myemoji:`) around the value are not required, although they may be included."
                  },
                  "url": {
                    "type": "string",
                    "description": "The URL of a file to use as an image for the emoji. Square images under 128KB and with transparent backgrounds work best."
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Typical success response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Default success template",
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  },
                  "description": "This method either only returns a brief _OK_ response or a verbose schema is not available for this method."
                },
                "example": {
                  "ok": true
                }
              }
            }
          },
          "default": {
            "description": "Typical error response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Default error template",
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  },
                  "description": "This method either only returns a brief _not OK_ response or a verbose schema is not available for this method."
                },
                "example": {
                  "error": "invalid_auth",
                  "ok": false
                }
              }
            }
          }
        },
        "security": [
          {
            "slackAuth": [
              "admin.teams:write"
            ]
          }
        ]
      }
    },
    "/admin.emoji.addAlias": {
      "post": {
        "tags": [
          "admin.emoji",
          "admin"
        ],
        "description": "Add an emoji alias.",
        "externalDocs": {
          "description": "API method documentation",
          "url": "https://api.slack.com/methods/admin.emoji.addAlias"
        },
        "operationId": "admin_emoji_addAlias",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "required": [
                  "alias_for",
                  "name",
                  "token"
                ],
                "properties": {
                  "token": {
                    "type": "string",
                    "description": "Authentication token. Requires scope: `admin.teams:write`"
                  },
                  "name": {
                    "type": "string",
                    "description": "The name of the emoji to be aliased. Colons (`:myemoji:`) around the value are not required, although they may be included."
                  },
                  "alias_for": {
                    "type": "string",
                    "description": "The alias of the emoji."
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Typical success response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Default success template",
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  },
                  "description": "This method either only returns a brief _OK_ response or a verbose schema is not available for this method."
                },
                "example": {
                  "ok": true
                }
              }
            }
          },
          "default": {
            "description": "Typical error response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Default error template",
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  },
                  "description": "This method either only returns a brief _not OK_ response or a verbose schema is not available for this method."
                },
                "example": {
                  "error": "invalid_auth",
                  "ok": false
                }
              }
            }
          }
        },
        "security": [
          {
            "slackAuth": [
              "admin.teams:write"
            ]
          }
        ]
      }
    },
    "/admin.emoji.list": {
      "get": {
        "tags": [
          "admin.emoji",
          "admin"
        ],
        "description": "List emoji for an Enterprise Grid organization.",
        "externalDocs": {
          "description": "API method documentation",
          "url": "https://api.slack.com/methods/admin.emoji.list"
        },
        "operationId": "admin_emoji_list",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "description": "Authentication token. Requires scope: `admin.teams:read`",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Set `cursor` to `next_cursor` returned by the previous call to list items in the next page",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of items to return. Must be between 1 - 1000 both inclusive.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Typical success response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Default success template",
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  },
                  "description": "This method either only returns a brief _OK_ response or a verbose schema is not available for this method."
                },
                "example": {
                  "cache_ts": "1575283387.000000",
                  "categories": [
                    {
                      "emoji_names": [
                        "grinning",
                        "grin",
                        "joy",
                        "etc etc ..."
                      ],
                      "name": "Smileys & People"
                    }
                  ],
                  "categories_version": "5",
                  "emoji": {
                    "black_square": "alias:black_large_square",
                    "bowtie": "https://emoji.slack-edge.com/T9TK3CUKW/bowtie/f3ec6f2bb0.png",
                    "cubimal_chick": "https://emoji.slack-edge.com/T9TK3CUKW/cubimal_chick/85961c43d7.png",
                    "dusty_stick": "https://emoji.slack-edge.com/T9TK3CUKW/dusty_stick/6177a62312.png",
                    "glitch_crab": "https://emoji.slack-edge.com/T9TK3CUKW/glitch_crab/db049f1f9c.png",
                    "piggy": "https://emoji.slack-edge.com/T9TK3CUKW/piggy/b7762ee8cd.png",
                    "pride": "https://emoji.slack-edge.com/T9TK3CUKW/pride/56b1bd3388.png",
                    "shipit": "alias:squirrel",
                    "simple_smile": {
                      "apple": "https://a.slack-edge.com/80588/img/emoji_2017_12_06/apple/simple_smile.png",
                      "google": "https://a.slack-edge.com/80588/img/emoji_2017_12_06/google/simple_smile.png"
                    },
                    "slack": "https://emoji.slack-edge.com/T9TK3CUKW/slack/7d462d2443.png",
                    "slack_call": "https://emoji.slack-edge.com/T9TK3CUKW/slack_call/b81fffd6dd.png",
                    "squirrel": "https://emoji.slack-edge.com/T9TK3CUKW/squirrel/465f40c0e0.png",
                    "thumbsup_all": "https://emoji.slack-edge.com/T9TK3CUKW/thumbsup_all/50096a1020.gif",
                    "white_square": "alias:white_large_square"
                  },
                  "ok": true
                }
              }
            }
          },
          "default": {
            "description": "Typical error response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Default error template",
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  },
                  "description": "This method either only returns a brief _not OK_ response or a verbose schema is not available for this method."
                },
                "example": {
                  "error": "invalid_auth",
                  "ok": false
                }
              }
            }
          }
        },
        "security": [
          {
            "slackAuth": [
              "admin.teams:read"
            ]
          }
        ]
      }
    },
    "/admin.emoji.remove": {
      "post": {
        "tags": [
          "admin.emoji",
          "admin"
        ],
        "description": "Remove an emoji across an Enterprise Grid organization",
        "externalDocs": {
          "description": "API method documentation",
          "url": "https://api.slack.com/methods/admin.emoji.remove"
        },
        "operationId": "admin_emoji_remove",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "required": [
                  "name",
                  "token"
                ],
                "properties": {
                  "token": {
                    "type": "string",
                    "description": "Authentication token. Requires scope: `admin.teams:write`"
                  },
                  "name": {
                    "type": "string",
                    "description": "The name of the emoji to be removed. Colons (`:myemoji:`) around the value are not required, although they may be included."
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Typical success response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Default success template",
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  },
                  "description": "This method either only returns a brief _OK_ response or a verbose schema is not available for this method."
                },
                "example": {
                  "ok": true
                }
              }
            }
          },
          "default": {
            "description": "Typical error response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Default error template",
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  },
                  "description": "This method either only returns a brief _not OK_ response or a verbose schema is not available for this method."
                },
                "example": {
                  "error": "invalid_auth",
                  "ok": false
                }
              }
            }
          }
        },
        "security": [
          {
            "slackAuth": [
              "admin.teams:write"
            ]
          }
        ]
      }
    },
    "/admin.emoji.rename": {
      "post": {
        "tags": [
          "admin.emoji",
          "admin"
        ],
        "description": "Rename an emoji.",
        "externalDocs": {
          "description": "API method documentation",
          "url": "https://api.slack.com/methods/admin.emoji.rename"
        },
        "operationId": "admin_emoji_rename",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "required": [
                  "name",
                  "new_name",
                  "token"
                ],
                "properties": {
                  "token": {
                    "type": "string",
                    "description": "Authentication token. Requires scope: `admin.teams:write`"
                  },
                  "name": {
                    "type": "string",
                    "description": "The name of the emoji to be renamed. Colons (`:myemoji:`) around the value are not required, although they may be included."
                  },
                  "new_name": {
                    "type": "string",
                    "description": "The new name of the emoji."
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Typical success response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Default success template",
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  },
[...]
