{
    "openapi": "3.0.1",
    "info": {
        "title": "Slack Web API",
        "description": "One way to interact with the Slack platform is its HTTP RPC-based Web API, a collection of methods requiring OAuth 2.0-based user, bot, or workspace tokens blessed with related OAuth scopes.",
        "contact": {
            "name": "Slack developer relations",
            "url": "https://api.slack.com/support"
        },
        "version": "1.7.0"
    },
    "externalDocs": {
        "description": "Learn more about the Slack Web API",
        "url": "https://api.slack.com/web"
    },
    "servers": [
        {
            "url": "https://slack.com/api"
        }
    ],
    "tags": [],
    "paths": {
        "/calls.add": {
            "post": {
                "tags": [
                    "calls"
                ],
                "description": "Registers a new Call.",
                "externalDocs": {
                    "description": "API method documentation",
                    "url": "https://api.slack.com/methods/calls.add"
                },
                "operationId": "calls_add",
                "requestBody": {
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "required": [
                                    "external_unique_id",
                                    "join_url"
                                ],
                                "properties": {
                                    "external_unique_id": {
                                        "type": "string",
                                        "description": "An ID supplied by the 3rd-party Call provider. It must be unique across all Calls from that service."
                                    },
                                    "external_display_id": {
                                        "type": "string",
                                        "description": "An optional, human-readable ID supplied by the 3rd-party Call provider. If supplied, this ID will be displayed in the Call object."
                                    },
                                    "join_url": {
                                        "type": "string",
                                        "description": "The URL required for a client to join the Call."
                                    },
                                    "desktop_app_join_url": {
                                        "type": "string",
                                        "description": "When supplied, available Slack clients will attempt to directly launch the 3rd-party Call with this URL."
                                    },
                                    "date_start": {
                                        "type": "integer",
                                        "description": "Call start time in UTC UNIX timestamp format",
                                        "format": "int32"
                                    },
                                    "title": {
                                        "type": "string",
                                        "description": "The name of the Call."
                                    },
                                    "created_by": {
                                        "type": "string",
                                        "description": "The valid Slack user ID of the user who created this Call. When this method is called with a user token, the `created_by` field is optional and defaults to the authed user of the token. Otherwise, the field is required."
                                    },
                                    "users": {
                                        "type": "string",
                                        "description": "The list of users to register as participants in the Call. [Read more on how to specify users here](/apis/calls#users)."
                                    }
                                }
                            }
                        },
                        "application/json": {
                            "schema": {
                                "required": [
                                    "external_unique_id",
                                    "join_url"
                                ],
                                "properties": {
                                    "external_unique_id": {
                                        "type": "string",
                                        "description": "An ID supplied by the 3rd-party Call provider. It must be unique across all Calls from that service."
                                    },
                                    "external_display_id": {
                                        "type": "string",
                                        "description": "An optional, human-readable ID supplied by the 3rd-party Call provider. If supplied, this ID will be displayed in the Call object."
                                    },
                                    "join_url": {
                                        "type": "string",
                                        "description": "The URL required for a client to join the Call."
                                    },
                                    "desktop_app_join_url": {
                                        "type": "string",
                                        "description": "When supplied, available Slack clients will attempt to directly launch the 3rd-party Call with this URL."
                                    },
                                    "date_start": {
                                        "type": "integer",
                                        "description": "Call start time in UTC UNIX timestamp format",
                                        "format": "int32"
                                    },
                                    "title": {
                                        "type": "string",
                                        "description": "The name of the Call."
                                    },
                                    "created_by": {
                                        "type": "string",
                                        "description": "The valid Slack user ID of the user who created this Call. When this method is called with a user token, the `created_by` field is optional and defaults to the authed user of the token. Otherwise, the field is required."
                                    },
                                    "users": {
                                        "type": "string",
                                        "description": "The list of users to register as participants in the Call. [Read more on how to specify users here](/apis/calls#users)."
                                    }
                                }
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Typical success response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "title": "Default success template",
                                    "type": "object",
                                    "additionalProperties": {
                                        "type": "object"
                                    },
                                    "description": "This method either only returns a brief _OK_ response or a verbose schema is not available for this method."
                                },
                                "example": {
                                    "ok": true
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Typical error response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "title": "Default error template",
                                    "type": "object",
                                    "additionalProperties": {
                                        "type": "object"
                                    },
                                    "description": "This method either only returns a brief _not OK_ response or a verbose schema is not available for this method."
                                },
                                "example": {
                                    "error": "invalid_auth",
                                    "ok": false
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "slackAuth": [
                            "calls:write"
                        ]
                    }
                ]
            }
        },
        "/calls.end": {
            "post": {
                "tags": [
                    "calls"
                ],
                "description": "Ends a Call.",
                "externalDocs": {
                    "description": "API method documentation",
                    "url": "https://api.slack.com/methods/calls.end"
                },
                "operationId": "calls_end",
                "requestBody": {
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "required": [
                                    "id"
                                ],
                                "properties": {
                                    "id": {
                                        "type": "string",
                                        "description": "`id` returned when registering the call using the [`calls.add`](/methods/calls.add) method."
                                    },
                                    "duration": {
                                        "type": "integer",
                                        "description": "Call duration in seconds",
                                        "format": "int32"
                                    }
                                }
                            }
                        },
                        "application/json": {
                            "schema": {
                                "required": [
                                    "id"
                                ],
                                "properties": {
                                    "id": {
                                        "type": "string",
                                        "description": "`id` returned when registering the call using the [`calls.add`](/methods/calls.add) method."
                                    },
                                    "duration": {
                                        "type": "integer",
                                        "description": "Call duration in seconds",
                                        "format": "int32"
                                    }
                                }
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Typical success response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "title": "Default success template",
                                    "type": "object",
                                    "additionalProperties": {
                                        "type": "object"
                                    },
                                    "description": "This method either only returns a brief _OK_ response or a verbose schema is not available for this method."
                                },
                                "example": {
                                    "ok": true
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Typical error response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "title": "Default error template",
                                    "type": "object",
                                    "additionalProperties": {
                                        "type": "object"
                                    },
                                    "description": "This method either only returns a brief _not OK_ response or a verbose schema is not available for this method."
                                },
                                "example": {
                                    "error": "invalid_auth",
                                    "ok": false
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "slackAuth": [
                            "calls:write"
                        ]
                    }
                ]
            }
        },
        "/calls.info": {
            "get": {
                "tags": [
                    "calls"
                ],
                "description": "Returns information about a Call.",
                "externalDocs": {
                    "description": "API method documentation",
                    "url": "https://api.slack.com/methods/calls.info"
                },
                "operationId": "calls_info",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "`id` of the Call returned by the [`calls.add`](/methods/calls.add) method.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Typical success response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "title": "Default success template",
                                    "type": "object",
                                    "additionalProperties": {
                                        "type": "object"
                                    },
                                    "description": "This method either only returns a brief _OK_ response or a verbose schema is not available for this method."
                                },
                                "example": {
                                    "ok": true
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Typical error response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "title": "Default error template",
                                    "type": "object",
                                    "additionalProperties": {
                                        "type": "object"
                                    },
                                    "description": "This method either only returns a brief _not OK_ response or a verbose schema is not available for this method."
                                },
                                "example": {
                                    "error": "invalid_auth",
                                    "ok": false
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "slackAuth": [
                            "calls:read"
                        ]
                    }
                ]
            }
        },
        "/calls.participants.add": {
            "post": {
                "tags": [
                    "calls.participants",
                    "calls"
                ],
                "description": "Registers new participants added to a Call.",
                "externalDocs": {
                    "description": "API method documentation",
                    "url": "https://api.slack.com/methods/calls.participants.add"
                },
                "operationId": "calls_participants_add",
                "requestBody": {
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "required": [
                                    "id",
                                    "users"
                                ],
                                "properties": {
                                    "id": {
                                        "type": "string",
                                        "description": "`id` returned by the [`calls.add`](/methods/calls.add) method."
                                    },
                                    "users": {
                                        "type": "string",
                                        "description": "The list of users to add as participants in the Call. [Read more on how to specify users here](/apis/calls#users)."
                                    }
                                }
                            }
                        },
                        "application/json": {
                            "schema": {
                                "required": [
                                    "id",
                                    "users"
                                ],
                                "properties": {
                                    "id": {
                                        "type": "string",
                                        "description": "`id` returned by the [`calls.add`](/methods/calls.add) method."
                                    },
                                    "users": {
                                        "type": "string",
                                        "description": "The list of users to add as participants in the Call. [Read more on how to specify users here](/apis/calls#users)."
                                    }
                                }
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Typical success response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "title": "Default success template",
                                    "type": "object",
                                    "additionalProperties": {
                                        "type": "object"
                                    },
                                    "description": "This method either only returns a brief _OK_ response or a verbose schema is not available for this method."
                                },
                                "example": {
                                    "ok": true
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Typical error response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "title": "Default error template",
                                    "type": "object",
                                    "additionalProperties": {
                                        "type": "object"
                                    },
                                    "description": "This method either only returns a brief _not OK_ response or a verbose schema is not available for this method."
                                },
                                "example": {
                                    "error": "invalid_auth",
                                    "ok": false
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "slackAuth": [
                            "calls:write"
                        ]
                    }
                ]
            }
        },
        "/calls.participants.remove": {
            "post": {
                "tags": [
                    "calls.participants",
                    "calls"
                ],
                "description": "Registers participants removed from a Call.",
                "externalDocs": {
                    "description": "API method documentation",
                    "url": "https://api.slack.com/methods/calls.participants.remove"
                },
                "operationId": "calls_participants_remove",
                "requestBody": {
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "required": [
                                    "id",
                                    "users"
                                ],
                                "properties": {
                                    "id": {
                                        "type": "string",
                                        "description": "`id` returned by the [`calls.add`](/methods/calls.add) method."
                                    },
                                    "users": {
                                        "type": "string",
                                        "description": "The list of users to remove as participants in the Call. [Read more on how to specify users here](/apis/calls#users)."
                                    }
                                }
                            }
                        },
                        "application/json": {
                            "schema": {
                                "required": [
                                    "id",
                                    "users"
                                ],
                                "properties": {
                                    "id": {
                                        "type": "string",
                                        "description": "`id` returned by the [`calls.add`](/methods/calls.add) method."
                                    },
                                    "users": {
                                        "type": "string",
                                        "description": "The list of users to remove as participants in the Call. [Read more on how to specify users here](/apis/calls#users)."
                                    }
                                }
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Typical success response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "title": "Default success template",
                                    "type": "object",
                                    "additionalProperties": {
                                        "type": "object"
                                    },
                                    "description": "This method either only returns a brief _OK_ response or a verbose schema is not available for this method."
                                },
                                "example": {
                                    "ok": true
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Typical error response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "title": "Default error template",
                                    "type": "object",
                                    "additionalProperties": {
                                        "type": "object"
                                    },
                                    "description": "This method either only returns a brief _not OK_ response or a verbose schema is not available for this method."
                                },
                                "example": {
                                    "error": "invalid_auth",
                                    "ok": false
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "slackAuth": [
                            "calls:write"
                        ]
                    }
                ]
            }
        },
        "/calls.update": {
            "post": {
                "tags": [
                    "calls"
                ],
                "description": "Updates information about a Call.",
                "externalDocs": {
                    "description": "API method documentation",
                    "url": "https://api.slack.com/methods/calls.update"
                },
                "operationId": "calls_update",
                "requestBody": {
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "required": [
                                    "id"
                                ],
                                "properties": {
                                    "id": {
                                        "type": "string",
                                        "description": "`id` returned by the [`calls.add`](/methods/calls.add) method."
                                    },
                                    "title": {
                                        "type": "string",
                                        "description": "The name of the Call."
                                    },
                                    "join_url": {
                                        "type": "string",
                                        "description": "The URL required for a client to join the Call."
                                    },
                                    "desktop_app_join_url": {
                                        "type": "string",
                                        "description": "When supplied, available Slack clients will attempt to directly launch the 3rd-party Call with this URL."
                                    }
                                }
                            }
                        },
                        "application/json": {
                            "schema": {
                                "required": [
                                    "id"
                                ],
                                "properties": {
                                    "id": {
                                        "type": "string",
                                        "description": "`id` returned by the [`calls.add`](/methods/calls.add) method."
                                    },
                                    "title": {
                                        "type": "string",
                                        "description": "The name of the Call."
                                    },
                                    "join_url": {
                                        "type": "string",
                                        "description": "The URL required for a client to join the Call."
                                    },
                                    "desktop_app_join_url": {
                                        "type": "string",
                                        "description": "When supplied, available Slack clients will attempt to directly launch the 3rd-party Call with this URL."
                                    }
                                }
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Typical success response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "title": "Default success template",
                                    "type": "object",
                                    "additionalProperties": {
                                        "type": "object"
                                    },
                                    "description": "This method either only returns a brief _OK_ response or a verbose schema is not available for this method."
                                },
                                "example": {
                                    "ok": true
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Typical error response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "title": "Default error template",
                                    "type": "object",
                                    "additionalProperties": {
                                        "type": "object"
                                    },
                                    "description": "This method either only returns a brief _not OK_ response or a verbose schema is not available for this method."
                                },
                                "example": {
                                    "error": "invalid_auth",
                                    "ok": false
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "slackAuth": [
                            "calls:write"
                        ]
                    }
                ]
            }
        },
        "/chat.delete": {
            "post": {
                "tags": [
                    "chat"
                ],
                "description": "Deletes a message.",
                "externalDocs": {
                    "description": "API method documentation",
                    "url": "https://api.slack.com/methods/chat.delete"
                },
                "operationId": "chat_delete",
                "parameters": [],
                "requestBody": {
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "properties": {
                                    "ts": {
                                        "type": "number",
                                        "description": "Timestamp of the message to be deleted."
                                    },
                                    "channel": {
                                        "type": "string",
                                        "description": "Channel containing the message to be deleted."
                                    },
                                    "as_user": {
                                        "type": "boolean",
                                        "description": "Pass true to delete the message as the authed user with `chat:write:user` scope. [Bot users](/bot-users) in this context are considered authed users. If unused or false, the message will be deleted with `chat:write:bot` scope."
                                    }
                                }
                            }
                        },
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "ts": {
                                        "type": "number",
                                        "description": "Timestamp of the message to be deleted."
                                    },
                                    "channel": {
                                        "type": "string",
                                        "description": "Channel containing the message to be deleted."
                                    },
                                    "as_user": {
                                        "type": "boolean",
                                        "description": "Pass true to delete the message as the authed user with `chat:write:user` scope. [Bot users](/bot-users) in this context are considered authed users. If unused or false, the message will be deleted with `chat:write:bot` scope."
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Typical success response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "title": "chat.delete success schema",
                                    "type": "object",
                                    "additionalProperties": {
                                        "type": "object"
                                    },
                                    "description": "Schema for successful response of chat.delete method"
                                },
                                "example": {
                                    "channel": "C024BE91L",
                                    "ok": true,
                                    "ts": "1401383885.000061"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Typical error response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "title": "chat.delete error schema",
                                    "type": "object",
                                    "additionalProperties": {
                                        "type": "object"
                                    },
                                    "description": "Schema for error response from chat.delete method"
                                },
                                "example": {
                                    "error": "message_not_found",
                                    "ok": false
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "slackAuth": [
                            "chat:write:user",
                            "chat:write:bot"
                        ]
                    }
                ]
            }
        },
        "/chat.deleteScheduledMessage": {
            "post": {
                "tags": [
                    "chat"
                ],
                "description": "Deletes a pending scheduled message from the queue.",
                "externalDocs": {
                    "description": "API method documentation",
                    "url": "https://api.slack.com/methods/chat.deleteScheduledMessage"
                },
                "operationId": "chat_deleteScheduledMessage",
                "parameters": [],
                "requestBody": {
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "required": [
                                    "channel",
                                    "scheduled_message_id"
                                ],
                                "properties": {
                                    "as_user": {
                                        "type": "boolean",
                                        "description": "Pass true to delete the message as the authed user with `chat:write:user` scope. [Bot users](/bot-users) in this context are considered authed users. If unused or false, the message will be deleted with `chat:write:bot` scope."
                                    },
                                    "channel": {
                                        "type": "string",
                                        "description": "The channel the scheduled_message is posting to"
                                    },
                                    "scheduled_message_id": {
                                        "type": "string",
                                        "description": "`scheduled_message_id` returned from call to chat.scheduleMessage"
                                    }
                                }
                            }
                        },
                        "application/json": {
                            "schema": {
                                "required": [
                                    "channel",
                                    "scheduled_message_id"
                                ],
                                "properties": {
                                    "as_user": {
                                        "type": "boolean",
                                        "description": "Pass true to delete the message as the authed user with `chat:write:user` scope. [Bot users](/bot-users) in this context are considered authed users. If unused or false, the message will be deleted with `chat:write:bot` scope."
                                    },
                                    "channel": {
                                        "type": "string",
                                        "description": "The channel the scheduled_message is posting to"
                                    },
                                    "scheduled_message_id": {
                                        "type": "string",
                                        "description": "`scheduled_message_id` returned from call to chat.scheduleMessage"
                                    }
                                }
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Typical success response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "title": "chat.deleteScheduledMessage schema",
                                    "type": "object",
                                    "additionalProperties": {
                                        "type": "object"
                                    },
                                    "description": "Schema for successful response from chat.deleteScheduledMessage method"
                                },
                                "example": {
                                    "ok": true
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Typical error response if no message is found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "title": "chat.deleteScheduledMessage error schema",
                                    "type": "object",
                                    "additionalProperties": {
                                        "type": "object"
                                    },
                                    "description": "Schema for error response from chat.deleteScheduledMessage method"
                                },
                                "example": {
                                    "error": "invalid_scheduled_message_id",
                                    "ok": false
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "slackAuth": [
                            "chat:write:user",
                            "chat:write:bot"
                        ]
                    }
                ]
            }
        },
        "/chat.getPermalink": {
            "get": {
                "tags": [
                    "chat"
                ],
                "description": "Retrieve a permalink URL for a specific extant message",
                "externalDocs": {
                    "description": "API method documentation",
                    "url": "https://api.slack.com/methods/chat.getPermalink"
                },
                "operationId": "chat_getPermalink",
                "parameters": [
                    {
                        "name": "channel",
                        "in": "query",
                        "description": "The ID of the conversation or channel containing the message",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "message_ts",
                        "in": "query",
                        "description": "A message's `ts` value, uniquely identifying it within a channel",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Standard success response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "title": "chat.getPermalink success schema",
                                    "type": "object",
                                    "additionalProperties": {
                                        "type": "object"
                                    },
                                    "description": "Schema for successful response chat.getPermalink"
                                },
                                "example": {
                                    "channel": "C1H9RESGA",
                                    "ok": true,
                                    "permalink": "https://ghostbusters.slack.com/archives/C1H9RESGA/p135854651500008"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Error response when channel cannot be found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "title": "chat.getPermalink error schema",
                                    "type": "object",
                                    "additionalProperties": {
                                        "type": "object"
                                    },
                                    "description": "Schema for error response from chat.getPermalink method"
                                },
                                "example": {
                                    "error": "channel_not_found",
                                    "ok": false
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "slackAuth": [
                            "none"
                        ]
                    }
                ]
            }
        },
        "/chat.meMessage": {
            "post": {
                "tags": [
                    "chat"
                ],
                "description": "Share a me message into a channel.",
                "externalDocs": {
                    "description": "API method documentation",
                    "url": "https://api.slack.com/methods/chat.meMessage"
                },
                "operationId": "chat_meMessage",
                "parameters": [],
                "requestBody": {
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "properties": {
                                    "channel": {
                                        "type": "string",
                                        "description": "Channel to send message to. Can be a public channel, private group or IM channel. Can be an encoded ID, or a name."
                                    },
                                    "text": {
                                        "type": "string",
                                        "description": "Text of the message to send."
                                    }
                                }
                            }
                        },
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "channel": {
                                        "type": "string",
                                        "description": "Channel to send message to. Can be a public channel, private group or IM channel. Can be an encoded ID, or a name."
                                    },
                                    "text": {
                                        "type": "string",
                                        "description": "Text of the message to send."
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Typical success response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "title": "chat.meMessage schema",
                                    "type": "object",
                                    "additionalProperties": {
                                        "type": "object"
                                    },
                                    "description": "Schema for successful response from chat.meMessage method"
                                },
                                "example": {
                                    "channel": "C024BE7LR",
                                    "ok": true,
                                    "ts": "1417671948.000006"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Typical error response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "title": "chat.meMessage error schema",
                                    "type": "object",
                                    "additionalProperties": {
                                        "type": "object"
                                    },
                                    "description": "Schema for error response from chat.meMessage method"
                                },
                                "example": {
                                    "error": "invalid_auth",
                                    "ok": false
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "slackAuth": [
                            "chat:write:user",
                            "chat:write:bot"
                        ]
                    }
                ]
            }
        },
        "/chat.postEphemeral": {
            "post": {
                "tags": [
                    "chat"
                ],
                "description": "Sends an ephemeral message to a user in a channel.",
                "externalDocs": {
                    "description": "API method documentation",
                    "url": "https://api.slack.com/methods/chat.postEphemeral"
                },
                "operationId": "chat_postEphemeral",
                "parameters": [],
                "requestBody": {
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "required": [
                                    "channel",
                                    "user"
                                ],
                                "properties": {
                                    "as_user": {
                                        "type": "boolean",
                                        "description": "Pass true to post the message as the authed user. Defaults to true if the chat:write:bot scope is not included. Otherwise, defaults to false."
                                    },
                                    "attachments": {
                                        "type": "string",
                                        "description": "A JSON-based array of structured attachments, presented as a URL-encoded string."
                                    },
                                    "blocks": {
                                        "type": "string",
                                        "description": "A JSON-based array of structured blocks, presented as a URL-encoded string."
                                    },
                                    "channel": {
                                        "type": "string",
                                        "description": "Channel, private group, or IM channel to send message to. Can be an encoded ID, or a name."
                                    },
                                    "icon_emoji": {
                                        "type": "string",
                                        "description": "Emoji to use as the icon for this message. Overrides `icon_url`. Must be used in conjunction with `as_user` set to `false`, otherwise ignored. See [authorship](#authorship) below."
                                    },
                                    "icon_url": {
                                        "type": "string",
                                        "description": "URL to an image to use as the icon for this message. Must be used in conjunction with `as_user` set to false, otherwise ignored. See [authorship](#authorship) below."
                                    },
                                    "link_names": {
                                        "type": "boolean",
                                        "description": "Find and link channel names and usernames."
                                    },
                                    "parse": {
                                        "type": "string",
                                        "description": "Change how messages are treated. Defaults to `none`. See [below](#formatting)."
                                    },
                                    "text": {
                                        "type": "string",
                                        "description": "How this field works and whether it is required depends on other fields you use in your API call. [See below](#text_usage) for more detail."
                                    },
                                    "thread_ts": {
                                        "type": "string",
                                        "description": "Provide another message's `ts` value to post this message in a thread. Avoid using a reply's `ts` value; use its parent's value instead. Ephemeral messages in threads are only shown if there is already an active thread."
                                    },
                                    "user": {
                                        "type": "string",
                                        "description": "`id` of the user who will receive the ephemeral message. The user should be in the channel specified by the `channel` argument."
                                    },
                                    "username": {
                                        "type": "string",
                                        "description": "Set your bot's user name. Must be used in conjunction with `as_user` set to false, otherwise ignored. See [authorship](#authorship) below."
                                    }
                                }
                            }
                        },
                        "application/json": {
                            "schema": {
                                "required": [
                                    "channel",
                                    "user"
                                ],
                                "properties": {
                                    "as_user": {
                                        "type": "boolean",
                                        "description": "Pass true to post the message as the authed user. Defaults to true if the chat:write:bot scope is not included. Otherwise, defaults to false."
                                    },
                                    "attachments": {
                                        "type": "string",
                                        "description": "A JSON-based array of structured attachments, presented as a URL-encoded string."
                                    },
                                    "blocks": {
                                        "type": "string",
                                        "description": "A JSON-based array of structured blocks, presented as a URL-encoded string."
                                    },
                                    "channel": {
                                        "type": "string",
                                        "description": "Channel, private group, or IM channel to send message to. Can be an encoded ID, or a name."
                                    },
                                    "icon_emoji": {
                                        "type": "string",
                                        "description": "Emoji to use as the icon for this message. Overrides `icon_url`. Must be used in conjunction with `as_user` set to `false`, otherwise ignored. See [authorship](#authorship) below."
                                    },
                                    "icon_url": {
                                        "type": "string",
                                        "description": "URL to an image to use as the icon for this message. Must be used in conjunction with `as_user` set to false, otherwise ignored. See [authorship](#authorship) below."
                                    },
                                    "link_names": {
                                        "type": "boolean",
                                        "description": "Find and link channel names and usernames."
                                    },
                                    "parse": {
                                        "type": "string",
                                        "description": "Change how messages are treated. Defaults to `none`. See [below](#formatting)."
                                    },
                                    "text": {
                                        "type": "string",
                                        "description": "How this field works and whether it is required depends on other fields you use in your API call. [See below](#text_usage) for more detail."
                                    },
                                    "thread_ts": {
                                        "type": "string",
                                        "description": "Provide another message's `ts` value to post this message in a thread. Avoid using a reply's `ts` value; use its parent's value instead. Ephemeral messages in threads are only shown if there is already an active thread."
                                    },
                                    "user": {
                                        "type": "string",
                                        "description": "`id` of the user who will receive the ephemeral message. The user should be in the channel specified by the `channel` argument."
                                    },
                                    "username": {
                                        "type": "string",
                                        "description": "Set your bot's user name. Must be used in conjunction with `as_user` set to false, otherwise ignored. See [authorship](#authorship) below."
                                    }
                                }
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Typical success response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "title": "chat.postEphemeral success schema",
                                    "type": "object",
                                    "additionalProperties": {
                                        "type": "object"
                                    },
                                    "description": "Schema for successful response from chat.postEphemeral method"
                                },
                                "example": {
                                    "message_ts": "1502210682.580145",
                                    "ok": true
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Typical error response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "title": "chat.postEphemeral error schema",
                                    "type": "object",
                                    "additionalProperties": {
                                        "type": "object"
                                    },
                                    "description": "Schema for error response from chat.postEphemeral method"
                                },
                                "example": {
                                    "error": "user_not_in_channel",
                                    "ok": false
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "slackAuth": [
                            "chat:write:user",
                            "chat:write:bot"
                        ]
                    }
                ]
            }
        },
        "/chat.postMessage": {
            "post": {
                "tags": [
                    "chat"
                ],
                "description": "Post messages to public channels, private channels, direct messages, and multi-person direct messages.",
                "externalDocs": {
                    "description": "API method documentation",
                    "url": "https://api.slack.com/methods/chat.postMessage"
                },
                "operationId": "chat_postMessage",
                "parameters": [],
                "requestBody": {
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "required": [
                                    "channel"
                                ],
                                "properties": {
                                    "as_user": {
                                        "type": "boolean",
                                        "description": "Pass true to post the message as the authed user, instead of as a bot. Defaults to false. See [authorship](#authorship) below."
                                    },
                                    "attachments": {
                                        "type": "array",
                                        "items": {
                                            "type": "object",
                                            "properties": {
                                                "pretext": {
                                                    "type": "string"
                                                },
                                                "text": {
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "pretext",
                                                "text"
                                            ]
                                        }
                                    },
                                    "blocks": {
                                        "type": "array",
                                        "items": {
                                            "type": "object",
                                            "properties": {
                                                "type": {
                                                    "type": "string"
                                                },
                                                "text": {
                                                    "type": "object",
                                                    "properties": {
                                                        "type": {
                                                            "type": "string"
                                                        },
                                                        "text": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "required": [
                                                        "type",
                                                        "text"
                                                    ]
                                                }
                                            },
                                            "required": [
                                                "type",
                                                "text"
                                            ]
                                        }
                                    },
                                    "channel": {
                                        "type": "string",
                                        "description": "Channel, private group, or IM channel to send message to. Can be an encoded ID, or a name. See [below](#channels) for more details."
                                    },
                                    "icon_emoji": {
                                        "type": "string",
                                        "description": "Emoji to use as the icon for this message. Overrides `icon_url`. Must be used in conjunction with `as_user` set to `false`, otherwise ignored. See [authorship](#authorship) below."
                                    },
                                    "icon_url": {
                                        "type": "string",
                                        "description": "URL to an image to use as the icon for this message. Must be used in conjunction with `as_user` set to false, otherwise ignored. See [authorship](#authorship) below."
                                    },
                                    "link_names": {
                                        "type": "boolean",
                                        "description": "Find and link channel names and usernames."
                                    },
                                    "mrkdwn": {
                                        "type": "boolean",
                                        "description": "Disable Slack markup parsing by setting to `false`. Enabled by default."
                                    },
                                    "parse": {
                                        "type": "string",
                                        "description": "Change how messages are treated. Defaults to `none`. See [below](#formatting)."
                                    },
                                    "reply_broadcast": {
                                        "type": "boolean",
                                        "description": "Used in conjunction with `thread_ts` and indicates whether reply should be made visible to everyone in the channel or conversation. Defaults to `false`."
                                    },
                                    "text": {
                                        "type": "string",
                                        "description": "How this field works and whether it is required depends on other fields you use in your API call. [See below](#text_usage) for more detail."
                                    },
                                    "thread_ts": {
                                        "type": "string",
                                        "description": "Provide another message's `ts` value to make this message a reply. Avoid using a reply's `ts` value; use its parent instead."
                                    },
                                    "unfurl_links": {
                                        "type": "boolean",
                                        "description": "Pass true to enable unfurling of primarily text-based content."
                                    },
                                    "unfurl_media": {
                                        "type": "boolean",
                                        "description": "Pass false to disable unfurling of media content."
                                    },
                                    "username": {
                                        "type": "string",
                                        "description": "Set your bot's user name. Must be used in conjunction with `as_user` set to false, otherwise ignored. See [authorship](#authorship) below."
                                    }
                                }
                            }
                        },
                        "application/json": {
                            "schema": {
                                "required": [
                                    "channel"
                                ],
                                "properties": {
                                    "as_user": {
                                        "type": "string",
                                        "description": "Pass true to post the message as the authed user, instead of as a bot. Defaults to false. See [authorship](#authorship) below."
                                    },
                                    "attachments": {
                                        "type": "string",
                                        "description": "A JSON-based array of structured attachments, presented as a URL-encoded string."
                                    },
                                    "blocks": {
                                        "type": "string",
                                        "description": "A JSON-based array of structured blocks, presented as a URL-encoded string."
                                    },
                                    "channel": {
                                        "type": "string",
                                        "description": "Channel, private group, or IM channel to send message to. Can be an encoded ID, or a name. See [below](#channels) for more details."
                                    },
                                    "icon_emoji": {
                                        "type": "string",
                                        "description": "Emoji to use as the icon for this message. Overrides `icon_url`. Must be used in conjunction with `as_user` set to `false`, otherwise ignored. See [authorship](#authorship) below."
                                    },
                                    "icon_url": {
                                        "type": "string",
                                        "description": "URL to an image to use as the icon for this message. Must be used in conjunction with `as_user` set to false, otherwise ignored. See [authorship](#authorship) below."
                                    },
                                    "link_names": {
                                        "type": "boolean",
                                        "description": "Find and link channel names and usernames."
                                    },
                                    "mrkdwn": {
                                        "type": "boolean",
                                        "description": "Disable Slack markup parsing by setting to `false`. Enabled by default."
                                    },
                                    "parse": {
                                        "type": "string",
                                        "description": "Change how messages are treated. Defaults to `none`. See [below](#formatting)."
                                    },
                                    "reply_broadcast": {
                                        "type": "boolean",
                                        "description": "Used in conjunction with `thread_ts` and indicates whether reply should be made visible to everyone in the channel or conversation. Defaults to `false`."
                                    },
                                    "text": {
                                        "type": "string",
                                        "description": "How this field works and whether it is required depends on other fields you use in your API call. [See below](#text_usage) for more detail."
                                    },
                                    "thread_ts": {
                                        "type": "string",
                                        "description": "Provide another message's `ts` value to make this message a reply. Avoid using a reply's `ts` value; use its parent instead."
                                    },
                                    "unfurl_links": {
                                        "type": "boolean",
                                        "description": "Pass true to enable unfurling of primarily text-based content."
                                    },
                                    "unfurl_media": {
                                        "type": "boolean",
                                        "description": "Pass false to disable unfurling of media content."
                                    },
                                    "username": {
                                        "type": "string",
                                        "description": "Set your bot's user name. Must be used in conjunction with `as_user` set to false, otherwise ignored. See [authorship](#authorship) below."
                                    }
                                }
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Typical success response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "title": "chat.postMessage success schema",
                                    "type": "object",
                                    "additionalProperties": {
                                        "type": "object"
                                    },
                                    "description": "Schema for successful response of chat.postMessage method"
                                },
                                "example": {
                                    "channel": "C1H9RESGL",
                                    "message": {
                                        "attachments": [
                                            {
                                                "fallback": "This is an attachment's fallback",
                                                "id": 1,
                                                "text": "This is an attachment"
                                            }
                                        ],
                                        "bot_id": "B19LU7CSY",
                                        "subtype": "bot_message",
                                        "text": "Here's a message for you",
                                        "ts": "1503435956.000247",
                                        "type": "message",
                                        "username": "ecto1"
                                    },
                                    "ok": true,
                                    "ts": "1503435956.000247"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Typical error response if too many attachments are included",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "title": "chat.postMessage error schema",
                                    "type": "object",
                                    "additionalProperties": {
                                        "type": "object"
                                    },
                                    "description": "Schema for error response chat.postMessage method"
                                },
                                "example": {
                                    "error": "too_many_attachments",
                                    "ok": false
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "slackAuth": [
                            "chat:write:user",
                            "chat:write:bot"
                        ]
                    }
                ]
            }
        },
        "/chat.scheduleMessage": {
            "post": {
                "tags": [
                    "chat"
                ],
                "description": "Schedules a message to be sent to a channel.",
                "externalDocs": {
                    "description": "API method documentation",
                    "url": "https://api.slack.com/methods/chat.scheduleMessage"
                },
                "operationId": "chat_scheduleMessage",
                "parameters": [],
                "requestBody": {
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "properties": {
                                    "channel": {
                                        "type": "string",
                                        "description": "Channel, private group, or DM channel to send message to. Can be an encoded ID, or a name. See [below](#channels) for more details."
                                    },
                                    "text": {
                                        "type": "string",
                                        "description": "How this field works and whether it is required depends on other fields you use in your API call. [See below](#text_usage) for more detail."
                                    },
                                    "post_at": {
                                        "type": "string",
                                        "description": "Unix EPOCH timestamp of time in future to send the message."
                                    },
                                    "parse": {
                                        "type": "string",
                                        "description": "Change how messages are treated. Defaults to `none`. See [chat.postMessage](chat.postMessage#formatting)."
                                    },
                                    "as_user": {
                                        "type": "boolean",
                                        "description": "Pass true to post the message as the authed user, instead of as a bot. Defaults to false. See [chat.postMessage](chat.postMessage#authorship)."
                                    },
                                    "link_names": {
                                        "type": "boolean",
                                        "description": "Find and link channel names and usernames."
                                    },
                                    "attachments": {
                                        "type": "string",
                                        "description": "A JSON-based array of structured attachments, presented as a URL-encoded string."
                                    },
                                    "blocks": {
                                        "type": "string",
                                        "description": "A JSON-based array of structured blocks, presented as a URL-encoded string."
                                    },
                                    "unfurl_links": {
                                        "type": "boolean",
                                        "description": "Pass true to enable unfurling of primarily text-based content."
                                    },
                                    "unfurl_media": {
                                        "type": "boolean",
                                        "description": "Pass false to disable unfurling of media content."
                                    },
                                    "thread_ts": {
                                        "type": "number",
                                        "description": "Provide another message's `ts` value to make this message a reply. Avoid using a reply's `ts` value; use its parent instead."
                                    },
                                    "reply_broadcast": {
                                        "type": "boolean",
                                        "description": "Used in conjunction with `thread_ts` and indicates whether reply should be made visible to everyone in the channel or conversation. Defaults to `false`."
                                    }
                                }
                            }
                        },
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "channel": {
                                        "type": "string",
                                        "description": "Channel, private group, or DM channel to send message to. Can be an encoded ID, or a name. See [below](#channels) for more details."
                                    },
                                    "text": {
                                        "type": "string",
                                        "description": "How this field works and whether it is required depends on other fields you use in your API call. [See below](#text_usage) for more detail."
                                    },
                                    "post_at": {
                                        "type": "string",
                                        "description": "Unix EPOCH timestamp of time in future to send the message."
                                    },
                                    "parse": {
                                        "type": "string",
                                        "description": "Change how messages are treated. Defaults to `none`. See [chat.postMessage](chat.postMessage#formatting)."
                                    },
                                    "as_user": {
                                        "type": "boolean",
                                        "description": "Pass true to post the message as the authed user, instead of as a bot. Defaults to false. See [chat.postMessage](chat.postMessage#authorship)."
                                    },
                                    "link_names": {
                                        "type": "boolean",
                                        "description": "Find and link channel names and usernames."
                                    },
                                    "attachments": {
                                        "type": "string",
                                        "description": "A JSON-based array of structured attachments, presented as a URL-encoded string."
                                    },
                                    "blocks": {
                                        "type": "string",
                                        "description": "A JSON-based array of structured blocks, presented as a URL-encoded string."
                                    },
                                    "unfurl_links": {
                                        "type": "boolean",
                                        "description": "Pass true to enable unfurling of primarily text-based content."
                                    },
                                    "unfurl_media": {
                                        "type": "boolean",
                                        "description": "Pass false to disable unfurling of media content."
                                    },
                                    "thread_ts": {
                                        "type": "number",
                                        "description": "Provide another message's `ts` value to make this message a reply. Avoid using a reply's `ts` value; use its parent instead."
                                    },
                                    "reply_broadcast": {
                                        "type": "boolean",
                                        "description": "Used in conjunction with `thread_ts` and indicates whether reply should be made visible to everyone in the channel or conversation. Defaults to `false`."
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Typical success response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "title": "chat.scheduleMessage success schema",
                                    "type": "object",
                                    "additionalProperties": {
                                        "type": "object"
                                    },
                                    "description": "Schema for successful response of chat.scheduleMessage method"
                                },
                                "example": {
                                    "channel": "C1H9RESGL",
                                    "message": {
                                        "attachments": [
                                            {
                                                "fallback": "This is an attachment's fallback",
                                                "id": 1,
                                                "text": "This is an attachment"
                                            }
                                        ],
                                        "bot_id": "B19LU7CSY",
                                        "subtype": "bot_message",
                                        "text": "Here's a message for you in the future",
                                        "type": "delayed_message",
                                        "username": "ecto1"
                                    },
                                    "ok": true,
                                    "post_at": "1562180400",
                                    "scheduled_message_id": "Q1298393284"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Typical error response if the `post_at` is invalid (ex. in the past or too far into the future)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "title": "chat.scheduleMessage error schema",
                                    "type": "object",
                                    "additionalProperties": {
                                        "type": "object"
                                    },
                                    "description": "Schema for error response chat.scheduleMessage method"
                                },
                                "example": {
                                    "error": "time_in_past",
                                    "ok": false
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "slackAuth": [
                            "chat:write:user",
                            "chat:write:bot"
                        ]
                    }
                ]
            }
        },
        "/chat.scheduledMessages.list": {
            "get": {
                "tags": [
                    "chat.scheduledMessages",
                    "chat"
                ],
                "description": "Returns a list of scheduled messages.",
                "externalDocs": {
                    "description": "API method documentation",
                    "url": "https://api.slack.com/methods/chat.scheduledMessages.list"
                },
                "operationId": "chat_scheduledMessages_list",
                "parameters": [
                    {
                        "name": "channel",
                        "in": "query",
                        "description": "The channel of the scheduled messages",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "latest",
                        "in": "query",
                        "description": "A UNIX timestamp of the latest value in the time range",
                        "schema": {
                            "type": "number"
                        }
                    },
                    {
                        "name": "oldest",
                        "in": "query",
                        "description": "A UNIX timestamp of the oldest value in the time range",
                        "schema": {
                            "type": "number"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Maximum number of original entries to return.",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "cursor",
                        "in": "query",
                        "description": "For pagination purposes, this is the `cursor` value returned from a previous call to `chat.scheduledmessages.list` indicating where you want to start this call from.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Typical success response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "title": "chat.scheduledMessages.list schema",
                                    "type": "object",
                                    "additionalProperties": {
                                        "type": "object"
                                    },
                                    "description": "Schema for successful response from chat.scheduledMessages.list method"
                                },
                                "example": {
                                    "ok": true,
                                    "response_metadata": {
                                        "next_cursor": ""
                                    },
                                    "scheduled_messages": [
                                        {
                                            "channel_id": "C1H9RESGL",
                                            "date_created": 1551891734,
                                            "id": 1298393284,
                                            "post_at": 1551991428,
                                            "text": "Here's a message for you in the future"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Typical error response if the channel passed is invalid",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "title": "chat.scheduledMessages.list error schema",
                                    "type": "object",
                                    "additionalProperties": {
                                        "type": "object"
                                    },
                                    "description": "Schema for error response from chat.scheduledMessages.list method"
                                },
                                "example": {
                                    "error": "invalid_channel",
                                    "ok": false
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "slackAuth": [
                            "none"
                        ]
                    }
                ]
            }
        },
        "/chat.unfurl": {
            "post": {
                "tags": [
                    "chat"
                ],
                "description": "Provide custom unfurl behavior for user-posted URLs",
                "externalDocs": {
                    "description": "API method documentation",
                    "url": "https://api.slack.com/methods/chat.unfurl"
                },
                "operationId": "chat_unfurl",
                "parameters": [],
                "requestBody": {
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "required": [
                                    "channel",
                                    "ts"
                                ],
                                "properties": {
                                    "channel": {
                                        "type": "string",
                                        "description": "Channel ID of the message"
                                    },
                                    "ts": {
                                        "type": "string",
                                        "description": "Timestamp of the message to add unfurl behavior to."
                                    },
                                    "unfurls": {
                                        "type": "string",
                                        "description": "URL-encoded JSON map with keys set to URLs featured in the the message, pointing to their unfurl blocks or message attachments."
                                    },
                                    "user_auth_message": {
                                        "type": "string",
                                        "description": "Provide a simply-formatted string to send as an ephemeral message to the user as invitation to authenticate further and enable full unfurling behavior"
                                    },
                                    "user_auth_required": {
                                        "type": "boolean",
                                        "description": "Set to `true` or `1` to indicate the user must install your Slack app to trigger unfurls for this domain"
                                    },
                                    "user_auth_url": {
                                        "type": "string",
                                        "description": "Send users to this custom URL where they will complete authentication in your app to fully trigger unfurling. Value should be properly URL-encoded."
                                    }
                                }
                            }
                        },
                        "application/json": {
                            "schema": {
                                "required": [
                                    "channel",
                                    "ts"
                                ],
                                "properties": {
                                    "channel": {
                                        "type": "string",
                                        "description": "Channel ID of the message"
                                    },
                                    "ts": {
                                        "type": "string",
                                        "description": "Timestamp of the message to add unfurl behavior to."
                                    },
                                    "unfurls": {
                                        "type": "string",
                                        "description": "URL-encoded JSON map with keys set to URLs featured in the the message, pointing to their unfurl blocks or message attachments."
                                    },
                                    "user_auth_message": {
                                        "type": "string",
                                        "description": "Provide a simply-formatted string to send as an ephemeral message to the user as invitation to authenticate further and enable full unfurling behavior"
                                    },
                                    "user_auth_required": {
                                        "type": "boolean",
                                        "description": "Set to `true` or `1` to indicate the user must install your Slack app to trigger unfurls for this domain"
                                    },
                                    "user_auth_url": {
                                        "type": "string",
                                        "description": "Send users to this custom URL where they will complete authentication in your app to fully trigger unfurling. Value should be properly URL-encoded."
                                    }
                                }
[...]
