aiohttp==3.8.6
aiosignal==1.3.1
amqp==5.1.1
annotated-types==0.6.0
anyio==3.7.1
async-timeout==4.0.3
attrs==23.1.0
billiard==4.1.0
blinker==1.6.3
celery==5.3.4
certifi==2023.7.22
chardet==5.2.0
charset-normalizer==3.3.1
click==8.1.7
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.3.0
dataclasses-json==0.6.1
dnspython==2.4.2
exceptiongroup==1.1.3
Flask==3.0.0
Flask-Cors==4.0.0
Flask-SQLAlchemy==3.1.1
frozenlist==1.4.0
grpcio==1.59.2
grpcio-tools==1.59.2
h11==0.14.0
h2==4.1.0
hpack==4.0.0
httpcore==1.0.1
httpx==0.25.1
hyperframe==6.0.1
idna==3.4
importlib-metadata==6.8.0
itsdangerous==2.1.2
Jinja2==3.1.2
jsonpatch==1.33
jsonpointer==2.4
jsonschema==4.19.2
jsonschema-path==0.3.1
jsonschema-specifications==2023.7.1
kombu==5.3.2
langchain==0.0.327
langsmith==0.0.54
lazy-object-proxy==1.9.0
loguru==0.7.2
MarkupSafe==2.1.3
marshmallow==3.20.1
minio==7.1.17
multidict==6.0.4
mypy-extensions==1.0.0
numpy==1.26.1
openai==0.28.1
openapi-schema-validator==0.6.2
openapi-spec-validator==0.7.1
opencopilot-db==1.3.1
opencopilot-utils==1.0.6
packaging==23.2
pathable==0.4.3
pinecone-client==2.2.4
portalocker==2.8.2
prance==23.6.21.0
prompt-toolkit==3.0.39
protobuf==4.24.4
pydantic==2.4.2
pydantic_core==2.10.1
pymongo==4.5.0
PyMySQL==1.1.0
python-dateutil==2.8.2
python-dotenv==1.0.0
PyYAML==6.0.1
qdrant-client==1.6.4
redis==5.0.1
referencing==0.30.2
regex==2023.10.3
requests==2.31.0
rfc3339-validator==0.1.4
rpds-py==0.10.6
ruamel.yaml==0.18.3
ruamel.yaml.clib==0.2.8
six==1.16.0
sniffio==1.3.0
SQLAlchemy==2.0.22
tenacity==8.2.3
tiktoken==0.5.1
tqdm==4.66.1
typing-inspect==0.9.0
typing_extensions==4.8.0
tzdata==2023.3
urllib3==1.26.18
vine==5.0.0
wcwidth==0.2.9
Werkzeug==3.0.1
yarl==1.9.2
zipp==3.17.0
