<!DOCTYPE html>
<html>
<head>
  <title>My Chat App</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> 
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>

  <div class="container">

    <h1 class="center-align">My Chat App</h1>

    <div id="chat-log" class="z-depth-1" style="height: 300px; overflow: auto;"></div>
    <div id="chat-real" class="z-depth-1" style="height: 300px; overflow: auto;"></div>

    <form id="chat-form" class="row">
      <div class="input-field col s9">
        <input id="message" type="text" placeholder="Enter message">
      </div>

      <div class="input-field col s3">
        <button class="btn waves-effect waves-light" type="submit">
          Submit
        </button>  
      </div>
    </form>

  </div>

  <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>

  <script>
    const token = 'PMyJMFjmoKNFkus2';
    const sessionId = 'asdfas2224';
    
    let socket = io("http://localhost:8888");

    // this is for intermediate steps
    socket.on(`${sessionId}_info`, (msg) => {
      $('#chat-log').append(msg);
    });

    // bot message
    socket.on(`${sessionId}`, (msg) => {
        $('#chat-real').append(msg);
      });

    $('#chat-form').submit((e) => {
      e.preventDefault();
      
      const payload = {
        from: 'user',
        content: $('#message').val(),
        id: generateMessageId(), 
        headers: {
            "X-App-Name": "guild_quality",
            "Authorization": "Bearer BQAlIe479yo16aXf"
        },
        token: token,
        session_id: sessionId
      };
      
      $('#chat-real').append(`
        <div class="my-message">
            ${payload.content}
        </div>
        `);


      // on click of submit button
      socket.emit('send_chat', payload);

      $('#message').val('');
    });

    function generateMessageId() {
      return Math.random().toString(36).substring(2, 15); 
    }

  </script>

</body>
</html>