aiohttp==3.8.6
aiosignal==1.3.1
amqp==5.1.1
annotated-types==0.6.0
anyio==3.7.1
async-timeout==4.0.3
attrs==23.1.0
beautifulsoup4==4.12.2
billiard==4.1.0
celery==5.3.4
certifi==2023.7.22
charset-normalizer==3.3.2
click==8.1.7
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.3.0
Cython==3.0.5
dataclasses-json==0.6.1
docutils==0.20.1
exceptiongroup==1.1.3
frozenlist==1.4.0
geckodriver==0.0.1
grpcio==1.59.2
grpcio-tools==1.59.2
h11==0.14.0
h2==4.1.0
hpack==4.0.0
httpcore==1.0.1
httpx==0.25.1
hyperframe==6.0.1
idna==3.4
importlib-metadata==6.8.0
jaraco.classes==3.3.0
jsonpatch==1.33
jsonpointer==2.4
keyring==24.2.0
kombu==5.3.2
langchain==0.0.330
langsmith==0.0.57
lxml==4.9.3
Mako==1.2.4
markdown-it-py==3.0.0
MarkupSafe==2.1.3
marshmallow==3.20.1
mdurl==0.1.2
minio==7.1.17
more-itertools==10.1.0
multidict==6.0.4
mypy-extensions==1.0.0
nh3==0.2.14
Nuitka==1.8.5
numpy==1.26.1
openai==0.28.1
ordered-set==4.1.0
outcome==1.3.0.post0
packaging==23.2
pkginfo==1.9.6
portalocker==2.8.2
prompt-toolkit==3.0.39
protobuf==4.25.0
pydantic==2.4.2
pydantic_core==2.10.1
Pygments==2.16.1
PyMySQL==1.1.0
pyoxidizer==0.24.0
pypdfium2==4.23.1
PySocks==1.7.1
python-dateutil==2.8.2
python-dotenv==1.0.0
PyYAML==6.0.1
qdrant-client==1.6.4
readme-renderer==42.0
redis==5.0.1
regex==2023.10.3
requests==2.31.0
requests-toolbelt==1.0.0
rfc3986==2.0.0
rich==13.6.0
selenium==4.15.2
six==1.16.0
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.5
SQLAlchemy==2.0.23
tenacity==8.2.3
tiktoken==0.5.1
tqdm==4.66.1
trio==0.23.1
trio-websocket==0.11.1
twine==4.0.2
typing-inspect==0.9.0
typing_extensions==4.8.0
tzdata==2023.3
urllib3==1.26.18
vine==5.0.0
wcwidth==0.2.9
wsproto==1.2.0
yarl==1.9.2
zipp==3.17.0
zstandard==0.22.0
